hr {
  border-top: dotted 1px;
}

.modal{
  border-radius: 8px;
}

.borderless {
  border:none !important;
}

ion-modal-view {
  height: 618px;
}

@media screen and (min-width: 768px) {
  .nav-body {
    display: none !important;
  }
}

.login-form {
  max-width: 600px;
  margin: auto;
}

.padding {
  max-width: 900px;
}

.modal .padding {
  max-width: 100% !important;
}

ion-nav-bar .bar .title {
  background-size: auto 25px;
  height: 120px;
}

ion-nav-bar .bar {
  height: 120px;
  border-bottom: 5px solid #0065b7 !important;
}

.header {
  background: #2e3643 !important;
  height: 120px !important;
  border-bottom: 5px solid #EB5B2A !important;
  position: absolute;
  top: 0px;
}

.header div {
    display: inline-block;
    color: white;
    line-height: 108px;
    font-size: 28px;
    text-indent: 20px;
}

.has-header {
  top: 120px !important;
}

ion-modal-view .has-header {
  top: 44px !important;
}

.menu {
  background-color: #2e3643;
}

ion-list.navigation {
  background-color: #2e3643;
}

ion-list.navigation ion-item {
    border: 0px;
}

ion-list.navigation ion-item:nth-child(odd) .item-content {
  background-color: #333d49;
  color: white;
}

ion-list.navigation ion-item:nth-child(even) .item-content {
    background-color: #2e3643;
    color: white;
}

ion-list.navigation .currentNav > .item-content {
    background-color: #EB5B2A !important;
}

textarea {
  resize: none;
  background: white !important;
  border: 1px solid #a1a1a1 !important;
  padding: 0px 8px !important;
  border-radius: 4px !important;
  width: 64% !important;
}

input {
  background: white !important;
  border: 1px solid #a1a1a1 !important;
  padding: 0px 8px !important;
  border-radius: 4px !important;
  width: 98% !important;
  margin-right: 36px !important;
}

.item-input-inset-nopad {
  padding: 0px;
}

.item-thumbnail-left > img {
  background: #2e3643;
  padding: 1px;
  border-radius: 20px;
}

.widePopup .popup {
  width: 330px;
}

.permTable .item {
  border: 0px;
  margin: 0px;
  background: inherit;
}

.permTable .row {
  height: 35px;
  line-height: 35px;
  margin-top: 0px;
}

.permTable .row .col:first-child {
    padding-left: 20px;
}

.permTable .row:nth-child(even) {
  background: #CCC;
}

.permTable .row:first-child {
  background: #2e3643;
  color: white;
  height: 20px;
  line-height: 20px;
}

.datePicker table {
  margin: auto !important;
}

.attachment {
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0px 5px 5px 0px;
}

.attachment img {
    width: 150px;
}

.attachment .icon-bottom {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    font-size: 2em;
    -webkit-text-stroke: 1px black;
}

.attachment .icon-bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 2em;
    -webkit-text-stroke: 1px black;
}

.attachment .icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    -webkit-text-stroke: 1px black;
}

.postStatus {
  width: 100%;
  text-align: right;
}

.rejected {
  color: red;
}

.approved {
  color: green;
}

.awaitingApproval {
  color: orange;
}

/*.item.range input {
  height: 15px;
  border-radius: 20px;
}*/

.button.button-positive, .button.button-assertive, .button.button-stable{
  line-height: 33px;
  min-width: 40px;
  min-height: 30px;
}

.col-20,
.col-60,
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}







/**** Rob added 17-11-16 ****/

div.spacer{
  height: 125px;
}

.col-95 {
    -moz-box-flex: 0;
    flex: 0 0 95%;
    max-width: 95%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-35 {
    -moz-box-flex: 0;
    flex: 0 0 35%;
    max-width: 35%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-30 {
    -moz-box-flex: 0;
    flex: 0 0 30%;
    max-width: 30%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-25 {
    -moz-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-15 {
    -moz-box-flex: 0;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-5 {
    -moz-box-flex: 0;
    flex: 0 0 5%;
    max-width: 5%;
}

.assertive, a.assertive {
  color: #eb5b2a!important;
}

.bar-assertive,
.button-assertive{
  background: #eb5b2a!important;
}

.button-delete{
  color: #fff!important;
  background: #d00!important;
}


/* modal styles */

.custom-modal{
  background: #f9f9f9;
}

.modal{
  width: 70%!important;
  height: 70%;
  min-height: 70%;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
}

.modal form{
  padding-bottom: 10px;
}

.modal .bar-footer{
  border-top: 1px solid #ccc;
}

.modal .bar-footer .row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.modal .bar-footer .row a:nth-last-child(2):nth-child(even),
.modal .bar-footer .row button:nth-last-child(2):nth-child(even){
  right: -35%;
}

.modal .bar-footer .row a:last-child,
.modal .bar-footer .row button:last-child{
  margin-left: auto;
}



/* input ranges */

.range{
  margin: 0;
  padding: 0;
}

.item-input input[type=range] {
  background: #ddd!important;
  margin-right: 0!important;
  background: none!important;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -10px 0 10px;
  padding: 0!important;
  border: none!important;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #cccccc, 0px 0px 0px #d9d9d9;
  background: #dddddd;
  border-radius: 1.3px;
  border: 0.2px solid #dddddd;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #eb5b2a, 0px 0px 0px #ed6d41;
  border: 1px solid #eb5b2a;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #eb5b2a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dddddd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #cccccc, 0px 0px 0px #d9d9d9;
  background: #dddddd;
  border-radius: 1.3px;
  border: 0.2px solid #dddddd;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #eb5b2a, 0px 0px 0px #ed6d41;
  border: 1px solid #eb5b2a;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #eb5b2a;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #dddddd;
  border: 0.2px solid #dddddd;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #cccccc, 0px 0px 0px #d9d9d9;
}
input[type=range]::-ms-fill-upper {
  background: #dddddd;
  border: 0.2px solid #dddddd;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #cccccc, 0px 0px 0px #d9d9d9;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #eb5b2a, 0px 0px 0px #ed6d41;
  border: 1px solid #eb5b2a;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #eb5b2a;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dddddd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dddddd;
}
.compactList .item {
  padding: 2px;
}
.compactList .red {
  background: red;
}
.compactList .error {
  color: #a94442;
  background: #f2dede;
}
