<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Add Community</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">
	<div class="padding">
		<div class="list">
		  <label class="item item-input borderless">
		    <span class="input-label">Community Name</span>
		    <input dir="auto" type="text" placeholder="My New Community" ng-model="newCommunity.name">
		  </label>
		  	<div class="item item-toggle borderless">
			  	Visible
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="newCommunity.visible">
						<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
            <div class="item item-toggle borderless hide">
			  	Moderation
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="newCommunity.moderation">
						<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>


		  <label class="item item-input item-stacked-label borderless">
		    	<div class="row">
		    		<div class="col-50">Locations</div>
		    		<div class="col">Access</div>
			    </div>
			    <hr>
		    	<!-- <div class="permTable"> -->

			    	<div class="row" ng-repeat="item in locations">
			    		<div class="col-50">{{item.name}}</div>
			    		<div class="col">
			    			<label class="toggle toggle-dark">
							   <input type="checkbox" ng-model="item.access">
							   <div class="track">
							     <div class="handle"></div>
							   </div>
							</label>
			    		</div>
			    	</div>

		    	<!-- </div> -->
		  </label>

		  <label class="item item-input item-stacked-label borderless">
		    <!-- <span class="input-label">Departments</span>
		    	<div class="permTable">
		    		<div class="row">
			    		<div class="col-40"></div>
			    		<div class="col">
			    			No Access
			    		</div>
			    		<div class="col">
			    			Read Only
			    		</div>
			    		<div class="col">
			    			Comment/Like
			    		</div>
			    		<div class="col">
			    			Post
			    		</div>
			    	</div> -->

		    	<div class="">
		    		<div class="row">
			    		<div class="col-35">Departments</div>
			    		<div class="col-15">
			    			No Access
			    		</div>
			    		<div class="col-15">
			    			Read Only
			    		</div>
			    		<div class="col-15">
			    			Comment/Like
			    		</div>
			    		<div class="col-15" style="text-align: center;">
			    			Post
			    		</div>
			    	</div>
			    	<hr>
			    	<div class="row" ng-repeat="item in departments">
			    		<div class="col-40">{{item.name}}</div>
			    		<div class="col-50">
			    			<div class="item item-stable range range-positive borderless">
							  <input type="range" name="volume" step="1" min="0" max="3" value="0" ng-model="item.permissions">
							</div>
			    		</div>
			    		<div class="col-10"></div>
			    	</div>
		    	</div>
		  </label>

			<!-- <div class="button button-block button-dark" ng-click="addCommunity(name, locations, departments, visible, moderation)">Add</div> -->

		</div>
	</div>
  </ion-content>
	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeAddCommunitytModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="addCommunity(newCommunity.name, locations, departments, newCommunity.visible, newCommunity.moderation)">Save</a>
	      </div>
	  </ion-footer-bar>

</ion-modal-view>
