<ion-modal-view style="width:678px;">
  	<ion-header-bar class="bar-assertive">
		  <button class="button button-icon">Post Management</button>
		  <div class="h1 title"></div>
		  <button class="button button-clear button-positive"></button>
  	</ion-header-bar>
  	<ion-content class="has-header custom-modal">

		<form name="form">

	        <div class="list">

				<label class="item item-input item-stable item-select borderless">
					<span class="input-label dark">
						*Author:
					</span>
					<select ng-model="post.author" ng-options="user._id as user.first_name + ' ' + user.last_name for user in users | filter:{role :'admin'}" required></select>
				</label>

				<label class="item item-input item-stable borderless">
					<span class="input-label">*Title:</span>
					<input dir="auto" type="text" ng-model="post.title" placeholder="My New Post" required>
				</label>

				<label class="item item-input item-stable borderless">
					<span class="input-label">*Content:</span>
					<textarea dir="auto" type="text" rows="10" ng-model="post.content" placeholder="Content goes here" required>></textarea>
				</label>

				<div class="item item-input item-stable borderless">
					<span class="input-label">Media:</span>
					<div class="add-media-btn" ngf-select="addFiles($files)" ngf-accept="'image/*,video/*'" ng-model="files" ngf-multiple="true">
						<i class="ion-plus-circled icon-center"></i>
					</div>

					<div class="add-media item-input">
						<div ng-repeat="media in mediaArray" class="attachment">
				            <a target="_blank" ng-if="media.type == 'image' || media.typeOverview == 'image'">
				              <!-- <img ng-src="{{url}}uploads/{{media.thumbname}}" /> -->
				              <img ngf-thumbnail="media">
				              <i class="icon ion-image icon-bottom"></i>
				              <i class="icon ion-close-circled icon-center" ng-click="removeAttachment($index);"></i>
				              <!-- <div class="icon-bottom-right">.{{media.extension}}</div> -->
				            </a>
				            <a target="_blank" ng-if="media.type == 'video' || media.typeOverview == 'video'">
				              <img ng-src="{{url}}uploads/{{media.thumbname}}" />
				              <!-- <video controls ngf-src="media"></video> -->
				              <i class="icon ion-videocamera icon-bottom"></i>
				              <i class="icon ion-close-circled icon-center" ng-click="removeAttachment($index);"></i>
				              <!-- <div class="icon-bottom-right">.{{media.extension}}</div> -->
				            </a>
				        </div>
			    	</div>
				</div>

				<div class="item item-input item-stable borderless">
					<span class="dark input-label">*Date and time:</span>
					<!-- <span class="date-input" ion-datetime-picker ng-model="post.date">{{post.date| date: "dd MMM yyyy HH:mm"}}</span> -->
          <span class="date-input" ng-model="post.date">{{post.date| date: "dd MMM yyyy HH:mm"}}</span>
			    </div>


				<label class="item item-input item-stable item-select borderless">
					<span class="input-label dark">
						*Status:
					</span>
					<select ng-model="post.status">
						<option value="1">Approved</option>
						<option value="0">Awaiting Approval</option>
						<option value="-1">Rejected</option>
					</select>
				</label>


			</div>
		</form>

  	</ion-content>
	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeAddPostModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="uploadFiles(post, mediaArray)">Save</a>
	      </div>
	  </ion-footer-bar>
</ion-modal-view>
