.community-css {
	background:#f9f9f9;
}

.borderless {
	border: none !important;
}

.item-input input {
	background: white !important;
}

.item-select select {
	border:1px solid #888 !important;
	width: 100%;
	direction: ltr;
	height:35px;
	position: relative;
	background: white !important;
}

.date-input{
    border: 1px solid;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
	float: right;
    /*margin-right: 18px;*/
    margin-right: 0;
    font-size: 14px;
    /*width: 430px;*/
    width: 100%;
    background: white;
    padding:3px;
}

/*.attachment a {
	height: 100px;
	width: 100px;
}*/

.attachment img {
	max-width:100%;
	max-height:100%;
}

.pull-right {

}

.item-community {
	margin-top: 10px;
	margin-bottom: 25px;
	height:150px;
	border-radius: 5px;
	border: none;
	padding:0px;
	-webkit-box-shadow: 0 0 2px grey;
	        box-shadow: 0 0 2px grey;
}

.item-community .image {
	background: grey;
	background-size: cover;
	border-radius: 5px 0 0 5px;
}

.item-community .image img {
	min-height:100% !important;
	max-width:100%;
}

.item-community .moreMedia {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-top: 110px;
	width: 40px;
	text-align: center;
	margin-left:10px;
}

.item-community .content {
	height:100px;
	padding: 7px;
}

.item-community .content .status {
	border-radius: 100px;
	color: white;
	display: inline-block;
}

.item-community .content i {
	font-size: 15px;
}

.item-community .content h2 {
	display: inline-block;
	margin-bottom: -4px;
}

.item-community .stats {
	padding:10px 10px 10px 5px;
	text-align:right;
	font-size: 15px;
}

.item-community .stats div {
	margin-bottom: 10px;
}

.item-community .stats div i {
	font-size: 25px;
	padding-top:10px;
}

.item-community .meta {
	height:45px;
	border-bottom-right-radius:5px;
}

.item-community .meta img {
	margin: 5px 10px 0 5px;
	height:35px;
	border-radius: 100px;
	margin-right:10px;
}

.item-community .meta p {
	line-height: 45px;
}

.commentBox {
	padding: 2px;
}

.commentBox textarea {
	margin-right: 10px !important;
	padding-top: 4px !important;
}

.commentBox .button {
	padding-right:40px;
}




.col.feed-content{
	padding: 0;
}

.truncate {
  width: 400px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ellipsis {
    overflow: hidden;
    height: 60px;
}

.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 60px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026";

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -20px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
