<ion-content>
  <div class="padding">

    <div class="list">
      <div class="item item-divider item-icon-right">
        Communities
        <a class="icon ion-plus-circled" ng-click="openAddCommunityModal();"></a>
      </div>
      <div class="item" ng-if="communities.length==0 || !communities">
        Empty...
      </div>
      <a class="item item-icon-right" ng-repeat="item in communities" ui-sref="dashboard.community-detail({featureIndex:$root.currentFeature.index, type:type, id:item._id})">
        {{item.name}}
        <i class="icon ion-edit"></i>
      </a>
    </div>

  </div>

<div class="spacer"></div>
  
</ion-content>