<ion-content class="community-css">
  <div class="container">

    <div class="button button-assertive" ng-click="openAddPostModal();">+ Add post</div>
    <div class="button button-positive" ng-click="openEditCommunityModal()">
      <i class="ion-android-options"></i>
      Manage this community
    </div>

    <h3 class="title">{{community.name}} Posts</h3>
    <hr>

    <div class="card" ng-if="community.posts.length == 0">
      <div class="item item-text-wrap">
        No items to display.
      </div>
    </div>


    <div class="item item-text-wrap item-community row" ng-click="openEditPostModal($index);" ng-repeat="post in community.posts">

      <div class="image col-20" ng-style="{'background-image':'url('+post.attachments[0].thumbname+')'}">
        <div class="moreMedia" ng-if="post.attachments.length > 1">+{{post.attachments.length - 1}}</div>
        <div class="moreMedia" ng-if="post.attachments.length < 1" style="width: 100px;">No Media</div>
        <div class="moreMedia" ng-if="post.attachments.length > 0 && post.videosReady == false" style="width: 100px;">Processing</div>
      </div>

      <div class="col feed-content">

        <div class="row">
          <div class="col content">

            <span ng-switch="post.status" ng-click="vm.openMorePopover($event, post)">
              <span class="status royal-bg" ng-switch-when="0">
                <i class="icon ion-android-time"></i>
              </span>
              <span class="status balanced-bg" ng-switch-when="1">
                <i class="icon ion-android-done"></i>
              </span>
              <span class="status positive-bg" ng-switch-when="2">
                <i class="icon ion-android-close"></i>
              </span>
              <span class="status positive-bg" ng-switch-default>
                <i class="icon ion-android-close"></i>
              </span>
            </span>

            <h2 class="truncate" dir="auto">{{post.title}}</h2>

            <div class="ellipsis">
              <div>
                <p dir="auto">{{post.content}}</p>
              </div>
            </div>

          </div>

          <div class="col-13 stats">
            <div class="assertive">
              {{post.likes.length}}
              <i class="ion-thumbsup"></i>
            </div>
            <div class="assertive">
              {{post.comments.length}}
              <i class="ion-ios-chatbubble"></i>
            </div>
          </div>
        </div>

        <div class="row stable-bg meta">

          <img ng-src="{{ post.author.avatar ? post.author.avatar : 'img/profile-dummy.png'}}" class="profile-dummy" />
          <p>Posted</p>
          <p ng-if="post.author._id != post.actualAuthor._id">&nbsp;as {{post.author.first_name}} {{post.author.last_name}}</p>
          <p>&nbsp;by {{post.actualAuthor.first_name}} {{post.actualAuthor.last_name}}  | </p>
          <p class="pull-right">&nbsp;{{post.communityInfo.name}} | </p>
          <p class="pull-right">&nbsp;{{post.date | date:'dd MMM HH:mm' }}</p>

        </div>

      </div>

    </div>

    <div class="card" ng-if="community.posts.length > 3 && !moreDataCanBeLoaded">
      <div class="item item-text-wrap">
        <center>No more posts</center>
      </div>
    </div>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMoreData()" immediate-check="false" distance="1%"></ion-infinite-scroll>
<!--       <div class="item item-body">
        <p ng-bind-html="post.content">
        </p>
        <p>
          <div ng-repeat="image in post.attachments" class="attachment">
            <a href="{{url}}uploads/{{image.filename}}" target="_blank" ng-if="image.type == 'image'">
              <img ng-src="{{url}}uploads/{{image.thumbname}}" />
              <i class="icon ion-image icon-bottom"></i>
              <div class="icon-bottom-right">.{{image.extension}}</div>
            </a>
            <a href="{{url}}uploads/{{image.filename}}" target="_blank" ng-if="image.type == 'video'">
              <img ng-src="{{url}}uploads/{{image.thumbname}}" />
              <i class="icon ion-videocamera icon-bottom"></i>
              <div class="icon-bottom-right">.{{image.extension}}</div>
            </a>
          </div>
        </p>
        <p>
          <a ng-click="showLikes();" class="subdued">{{post.likes.length}} Likes</a>
          <a ng-click="showComments();" class="subdued">{{post.comments.length}} Comments</a>
        </p>
      </div> -->

<!--       <div class="item item-body" style="text-align: right;">
          <div class="button button-dark" ng-click="openEditPostModal($index);">
            Edit
          </div>
          <div class="button button-dark" ng-click="deletePost(post._id);">
            Delete
          </div>
      </div> -->

    </div>

  </div>

<div class="spacer"></div>

</ion-content>
