<ion-modal-view style="width:678px;">
  	<ion-header-bar class="bar-assertive">
		  <button class="button button-icon">Post Management</button>
		  <div class="h1 title"></div>
		  <button class="button button-clear button-positive">
			  <i class="light ion-thumbsup"></i> <span class="light">{{post.likes.length}}</span>
			  &nbsp;
			  <i class="light ion-chatbox"></i> <span class="light">{{post.comments.length}}</span>
		  </button>
  	</ion-header-bar>
  <ion-content class="has-header custom-modal">

		<form>

			<div class="list">
				<label class="item item-input item-stable item-select borderless">
					<span class="input-label dark">
						*Author:
					</span>
          <img ng-src="{{ modalAvatar ? modalAvatar : 'img/profile-dummy.png'}}" class="profile-dummy" style="height:30px;border-radius:50px;" />
          &nbsp;&nbsp;
					<select ng-model="post.author" ng-options="user._id as user.first_name + ' ' + user.last_name for user in users | filter:{role :'admin'}" ng-change="changeAvatar()" required></select>
				</label>

				<label class="item item-input item-stable borderless">
					<span class="input-label">*Title:</span>
					<input dir="auto" type="text" ng-model="post.title" placeholder="My New Post" required>
				</label>

				<label class="item item-input item-stable borderless">
					<span class="input-label">*Content:</span>
					<textarea dir="auto" type="text" rows="10" ng-model="post.content" placeholder="Content goes here" required></textarea>
				</label>

				<div class="item item-input item-stable borderless">
					<span class="input-label">Media:</span>
					<div class="add-media-btn" ngf-select="addFiles($files)" ngf-accept="'image/*,video/*'" ng-model="files" ngf-multiple="true">
						<i class="ion-plus-circled icon-center"></i>
					</div>
					<div class="add-media item-input">
						<div ng-repeat="media in mediaArray" class="attachment">
				            <a target="_blank" ng-if="media.type == 'image' || media.typeOverview == 'image'">
				              <img ng-if="media.thumbname" ng-src="{{media.thumbname}}" />
				              <img ng-if="!media.thumbname" ngf-thumbnail="media">
				              <i class="icon ion-image icon-bottom"></i>
				              <i class="icon ion-close-circled icon-center" ng-click="removeAttachment($index);"></i>
				              <!-- <div class="icon-bottom-right">.{{media.extension}}</div> -->
				            </a>
				            <a target="_blank" ng-if="media.type == 'video' || media.typeOverview == 'video'">
				              <img ng-src="{{media.thumbname}}" />
				              <!-- <video controls ngf-src="media"></video> -->
				              <i class="icon ion-videocamera icon-bottom"></i>
				              <i class="icon ion-close-circled icon-center" ng-click="removeAttachment($index);"></i>
				              <!-- <div class="icon-bottom-right">.{{media.extension}}</div> -->
				            </a>
				        </div>
			        </div>
				</div>
        <br/>
        <div class="item item-input item-stable borderless" ng-if="showAdmin && post.videosReady == false">
          <a class="button button-assertive" ng-click="post.videosReady = true" ng-disabled="post.videosReady">{{ post.videosReady ? 'Marked as videos ready':'Mark videos as ready'}}</a>
        </div>
        <br/>
				<div class="item item-input item-stable borderless">
					<span class="dark input-label">*Date and time:</span>
					<!-- <span class="date-input" ion-datetime-picker ng-model="post.date">{{post.date| date: "dd MMM yyyy HH:mm"}}</span> -->
          <span class="date-input" ng-model="post.date">{{post.date| date: "dd MMM yyyy HH:mm"}}</span>
			    </div>

				<label class="item item-input item-stable item-select borderless">
					<span class="input-label dark">
						*Status:
					</span>
					<select ng-model="post.status">
						<option value="1">Approved</option>
						<option value="0">Awaiting Approval</option>
						<option value="-1">Rejected</option>
					</select>
				</label>

			</div>
		</form>
	</div>

  	<div class="bar bar-assertive">
		  <button class="button button-icon">Comment Management</button>
		  <div class="h1 title"></div>
		  <button class="button button-clear button-positive"></button>
  	</div>
  	<br><br><br>

	<div class="item item-input item-stable commentBox borderless">
		<textarea type="text" rows="2" ng-model="comment.body" placeholder="Comment goes here" required></textarea>
		<div class="button button-assertive" ng-click="addComment(comment)">+ Add comment</div>
	</div>

	<br>
	<ion-item class="item-avatar-left item-light item-text-wrap item-icon-right" ng-repeat="comment in post.comments | orderBy:'-date'" ng-if="!loadingComments">
		<img ng-src="{{ comment.user.avatar ? comment.user.avatar : 'img/profile-dummy.png'}}" />
		<strong class="tag title">{{ comment.user.first_name }} {{ comment.user.last_name }}</strong>
		<div dir="auto" ng-bind="comment.body"></div>
		<div class="post-meta">
			<span class="tag" ng-bind="comment.date | date:'dd MMM HH:mm'"></span>
		</div>
		<i class="ion-ios-trash icon assertive" ng-click="deleteComment(comment)"></i>
	</ion-item>


  </ion-content>
	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeEditPostModal()">Cancel</a>
	      	<a class="button button-delete col-20" ng-click="deletePost(post._id)">Delete Post</a>

	        <a class="button button-assertive col-20" ng-click="uploadFiles(post, mediaArray, true)">Save Post</a>
	      </div>
	  </ion-footer-bar>
</ion-modal-view>
