<ion-modal-view style="width:850px;">
  	<ion-header-bar class="bar-assertive">
		  <button class="button button-icon">Community Management</button>
		  <div class="h1 title"></div>
		  <button class="button button-clear button-positive"></button>
  	</ion-header-bar>
  <ion-content class="has-header custom-modal">

		<div class="list">

		  <label class="item item-input borderless">
		    <span class="input-label">Community name</span>
		    <input  dir="auto" type="text" placeholder="My New Community" ng-model="community.name">
		  </label>

		  <div class="item item-toggle borderless">
			  	Visible
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="community.visible">
						<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
		  <div class="item item-toggle borderless">
			  	Moderation
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="community.moderation">
						<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

		  <label class="item item-input item-stacked-label borderless">
		    	<div class="">
		    		<div class="row">
			    		<div class="col-50">Locations</div>
			    		<div class="col">Access</div>
			    	</div>
			    	<hr>
			    	<div class="row" ng-repeat="item in locations | orderBy:'name'">
			    		<div class="col-50">{{item.name}}</div>
			    		<div class="col">
			    			<label class="toggle toggle-dark">
							   <input type="checkbox" ng-model="item.access">
							   <div class="track">
							     <div class="handle"></div>
							   </div>
							</label>
			    		</div>
			    	</div>
		    	</div>
		  </label>

		  <label class="item item-input item-stacked-label borderless">
		    	<div class="">
		    		<div class="row">
			    		<div class="col-35">Departments</div>
			    		<div class="col-15">
			    			No Access
			    		</div>
			    		<div class="col-15">
			    			Read Only
			    		</div>
			    		<div class="col-15">
			    			Comment/Like
			    		</div>
			    		<div class="col-15" style="text-align: center;">
			    			Post
			    		</div>
			    	</div>
			    	<hr>
			    	<div class="row" ng-repeat="item in departments | orderBy:'name'">
			    		<div class="col-40">{{item.name}}</div>
			    		<div class="col-50">
			    			<div class="item item-stable range range-positive borderless">
							  <input type="range" name="volume" step="1" min="0" max="3" value="0" ng-model="item.permissions">
							</div>
			    		</div>
			    		<div class="col-10"></div>
			    	</div>
		    	</div>
		  </label>



		</div>
	</div>
  </ion-content>
	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeEditCommunitytModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="editCommunity(community.name, locations, departments, community.visible, community.moderation)">Save</a>
	      </div>
	  </ion-footer-bar>
</ion-modal-view>
