<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Likes</h1>
  </ion-header-bar>
  <ion-content class="has-header">
	<div class="padding list">
		<div class="item" ng-if="likes.length == 0">
			No Likes to display.
		</div>
		<div class="item" ng-repeat="item in likes" ng-if="likes.length > 0">
			{{item._id}}
		</div>
	</div>
  </ion-content>
</ion-modal-view>