<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Question Editor</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">


      <form class="add-question">

        <div class="list">

          <label class="item item-input">
            <span class="input-label">Question title:</span>
            <input type="text" ng-model="vm.questionForm.name" required>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Question type
            </div>
            <select ng-model="vm.questionForm.type" required convert-to-number>
              <option ng-selected="true">Select type of question</option>            
              <option value="2">Single choice</option>
              <option value="3">Multiple choice</option>
              <option value="1">Free text</option>
            </select>
          </label>

          <div class="item item-input" ng-repeat="answer in vm.questionForm.answers" ng-show="vm.questionForm.type == 2 || vm.questionForm.type == 3">
            <span class="input-label">Answer {{$index+1}}:</span>
            <input type="text" ng-model="answer.value">
            <div class="button button-icon" ng-click="vm.removeAnswer($index)"><i class="icon ion-minus-circled assertive"></i></div>
          </div>

          <div class="button button-assertive" ng-click="vm.questionForm.answers.push({})" ng-show="vm.questionForm.type == 2 || vm.questionForm.type == 3">+ Add answer</div>

        </div>

      </form>

      

  </ion-content>

  <ion-footer-bar>
      <div class="row">
        <a class="button button-dark col-20" ng-click="vm.closeQuestionModal()">Cancel</a>
        <a class="button button-assertive col-20" ng-click="vm.addQuestion(vm.questionForm)">Save question</a>
      </div>
  </ion-footer-bar>

</ion-modal-view>