<ion-content>
  <div class="padding">

      <a class="button button-assertive" title="Survey Analytics Table" ng-click='surveyAnaytics.generate()' ng-href="{{ surveyAnaytics.link() }}" download="{{ vm.survey.name | limitTo: 100 }}{{vm.survey.name.length>99?'...':''}} Analytics.csv">
        <i class="ion-pie-graph"></i>
        Download Analytics
      </a>
      <table export-csv="surveyAnaytics" separator="," style="display:none;">
        <tr>
          <th>Total surveys taken</th>
          <th>{{vm.survey.count}}</th>
          <th></th>
        </tr>
        <tr><th></th><th></th><th></th></tr>
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Count</th>
        </tr>
        <tbody ng-repeat="question in vm.questions track by $index">
          <tr class="list-group">
              <td>{{question.name}}</td>
              <td></td>
              <td></td>
          </tr>
          <tr class="list-group" ng-if="questions[question].type !== 1" ng-repeat="answer in question.answers">
              <td></td>
              <td>{{answer.value}}</td>
              <td>{{answer.count}}</td>
          </tr>
        </tbody>
      </table>

      <a class="button button-assertive" title="Survey User Table" ng-click='surveyUsers.generate()' ng-href="{{ surveyUsers.link() }}" download="{{ vm.survey.name }} Users.csv">
        <i class="ion-ios-people"></i>
        Download Users
      </a>

      <table export-csv="surveyUsers" separator="," style="display:none;">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email address</th>
        </tr>
        <tr class="list-group" ng-repeat="analytic in vm.analytics track by $index">
            <td>{{analytic.firstname}}</td>
            <td>{{analytic.lastname}}</td>
            <td>{{analytic.user}}</td>
        </tr>
      </table>


    <div class="list quiz-table">

      <h3 class="title">{{ vm.survey.name }} Analytics</h3>
      <hr><br>

      <div class="" ng-repeat="item in vm.questions">
        <ion-item class="item-divider item-text-wrap">
          {{ item.name }}
        </ion-item>
        <ion-item ng-repeat="answer in item.answers track by $index">
          {{answer.value}}
          <span class="item-note badge badge-dark">{{answer.count}}</span>
        </ion-item>
        <br>
      </div>

      <ion-item>
        Total number of times taken
        <span class="item-note badge badge-dark">{{vm.survey.count}}</span>
      </ion-item>
      <br>

    </div>

  </div>

<div class="spacer"></div>

</ion-content>
