<ion-content>
  <div class="padding">



    <div class="list quiz-table">

      <h3 class="title">Surveys</h3>
      <hr><br>
      <form class="add-quiz" ng-submit="vm.addSurvey(vm.newSurveyForm)">
        <label class="item item-input">
          <span class="input-label">New survey name:</span>
          <input type="text" ng-model="vm.newSurveyForm.name" />
          <button type="submit" class="button button-assertive col-30">+ New Survey</button>
        </label>
      </form>
      <br>
    
      <ion-item class="item-divider row">
        <div class="col-40">
          Surveys
        </div>
        <div class="col-20">Times taken</div>
        <div class="col-20">Status</div>
        <div class="col-20">Actions</div>
      </ion-item>
      <ion-item ng-repeat="item in vm.surveyItems" class="row">
        <div class="col-40 truncate" ui-sref="dashboard.survey-detail({featureIndex:$root.currentFeature.index, surveyId:item.id})">{{ item.name }}</div>
        <div class="col-20">{{ item.count }}</div>
        <div class="col-20">{{ item.visible == 1 ? 'Published':'Unpublished' }}</div>
        <div class="col-20">
          <a class="icon ion-pie-graph" ui-sref="dashboard.survey-analytics({featureIndex:$root.currentFeature.index, surveyId:item.id})"></a>
          <a class="icon ion-edit" ui-sref="dashboard.survey-detail({featureIndex:$root.currentFeature.index, surveyId:item.id})"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveSurvey(item)"></a>
        </div>
      </ion-item>

    </div>
  </div>

<div class="spacer"></div>

</ion-content>
