<ion-content>
  <div class="padding">

      <button class="button button-assertive" ng-class="vm.survey.visible ? 'disabled':''" ng-click="vm.finalizeSurvey(vm.surveyForm)">{{vm.survey.visible ? 'Finalized':'Finalize'}}</button>
      <button class="button button-assertive" ng-if="vm.survey.visible == 1" ng-class="vm.survey.published ? 'button-dark':''" ng-click="vm.publishSurvey(vm.surveyForm)">{{vm.survey.published ? 'Unpublish':'Publish'}}</button>
      <button class="button button-assertive " ng-if="vm.survey.visible == 1"  ui-sref="dashboard.survey-analytics({featureIndex:$root.currentFeature.index, surveyId:vm.survey.id})">
        <i class=" ion-pie-graph"></i>
        Analytics
      </button>
      <!-- <button class="button button-assertive" ng-click="vm.confirmRemoveSurvey(vm.survey)">Delete Survey</button> -->

    <div class="list quiz-table">


      <h3 class="title">{{ vm.survey.name }}</h3>
      <hr><br>
      <form class="add-quiz" ng-submit="vm.updateSurvey(vm.surveyForm)">
        <label class="item item-input">
          <span class="input-label">Survey name:</span>
          <input type="text" ng-model="vm.surveyForm.name" />
          <button type="submit" class="button button-assertive">Update</button>
        </label>
<!--         <label class="item item-input item-select">
          <span class="input-label">Survey status:</span>
          <select ng-model="vm.surveyForm.visible">
            <option ng-selected="vm.surveyForm.visible == 0" value="0">Hidden</option>
            <option ng-selected="vm.surveyForm.visible == 1" value="1">Visible</option>
          </select>
        </label> -->
      </form>
      <br>

      <ion-item class="item-divider row">
        <div class="col-10">#</div>
        <div class="col-60">
          Question title
        </div>
        <div class="col-20">Type</div>
        <div class="col-10" ng-if="!vm.survey.visible">Actions</div>
      </ion-item>
      <ion-item ng-repeat="item in vm.questions" class="row">
        <div class="col-10">{{ $index+1 }}</div>
        <div class="col-60 truncate">{{ item.name }}</div>
        <div class="col-20">{{ item.type==1?'Free text':'' }}{{ item.type==2?'Single choice':'' }}{{ item.type==3?'Multiple choice':'' }}</div>
        <div class="col-10" ng-if="!vm.survey.visible">
          <a class="icon ion-edit" ng-class="vm.survey.visible ? 'disable':''" ng-click="vm.showEditQuestionModal(item)"></a>
          <a class="icon ion-trash-a" ng-class="vm.survey.visible ? 'disable':''" ng-click="vm.confirmRemoveQuestion(item)"></a>
        </div>
      </ion-item>

    </div>
    <button class="button button-assertive" ng-class="vm.survey.visible ? 'disabled':''" ng-click="vm.showNewQuestionModal()">+ New Question</button>
  </div>



  <div class="spacer"></div>
</ion-content>
