<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>StaffConnect Dashboard</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/quiz/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- MomentJS -->
    <script src="lib/moment/moment.min.js"></script>

    <!-- Datepicker -->
    <script src="lib/angular-datepicker/dist/angular-datepicker.min.js"></script>
    <link href="lib/angular-datepicker/dist/angular-datepicker.min.css" rel="stylesheet">
    <script src="lib/ion-datetime-picker/release/ion-datetime-picker.min.js"></script>
    <link href="lib/ion-datetime-picker/release/ion-datetime-picker.min.css" rel="stylesheet">

    <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="lib/ng-table-to-csv/dist/ng-table-to-csv.min.js"></script>

    <script src="js/controllers.js"></script>
    <script src="templates/clients/sampleConfig.js"></script>
    <script src="js/quiz/quiz.js"></script>

    <script src="modules/home/HomeController.js"></script>
    <script src="modules/home/HomeService.js"></script>
    <link href="modules/home/HomeStyles.css" rel="stylesheet">

    <script src="modules/communities/CommunitiesListController.js"></script>
    <script src="modules/communities/CommunitiesDetailController.js"></script>
    <script src="modules/communities/CommunitiesService.js"></script>
    <link href="modules/communities/CommunitiesStyles.css" rel="stylesheet">

    <script src="modules/library/LibraryController.js"></script>
    <script src="modules/library/LibraryService.js"></script>

    <script src="modules/rssfeed/RSSFeedController.js"></script>
    <script src="modules/rssfeed/RSSFeedService.js"></script>

    <script src="modules/events/EventsController.js"></script>
    <script src="modules/events/EventsService.js"></script>

    <script src="modules/questions/QuestionsController.js"></script>
    <script src="modules/questions/QuestionsService.js"></script>

    <script src="modules/survey/SurveyController.js"></script>
    <script src="modules/survey/SurveyDetailController.js"></script>
    <script src="modules/survey/SurveyAnalyticsController.js"></script>
    <script src="modules/survey/SurveyService.js"></script>

    <script src="modules/analytics/AnalyticsController.js"></script>
    <script src="modules/analytics/AnalyticsService.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
      <ion-header-bar class="header">
        <div ng-if="server" ng-style="{ 'background': 'url('+URL+'configfiles/'+server.icon+') center left no-repeat', 'background-size': '50px', 'text-indent': '70px','margin-left': '10px' }"> {{server.name}} Dashboard</div>
        <div ng-if="!server">StaffConnect Dashboard</div>
      </ion-header-bar>
      <ion-nav-view></ion-nav-view>
  </body>
</html>
