<ion-content>
    <div class="padding">
        <div class="list">
            <div class="item item-divider item-icon-right" ng-click="addLocation();">
                Locations
                <i class="icon ion-plus-circled"></i>
            </div>
            <div class="item" ng-if="locations.length==0 || !locations">
                Empty...
            </div>
            <div class="item item-icon-right" ng-repeat="item in locations | orderBy:'name'" ng-click="editLocation(item._id)">
                {{item.name}}
                <i class="icon ion-edit"></i>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider item-icon-right" ng-click="addDepartment();">
                Departments
                <i class="icon ion-plus-circled"></i>
            </div>
            <div class="item" ng-if="departments.length==0 || !departments">
                Empty...
            </div>
            <div class="item item-icon-right" ng-repeat="item in departments | orderBy:'name'" ng-click="editDepartment(item._id)">
                {{item.name}}
                <i class="icon ion-edit"></i>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</ion-content>
