<ion-content>
  <div class="item item-assertive" ng-show="showDateError">
    Please select a date in the future
  </div>
  <div class="item item-stable row">

      <div class="col-50 padding"></div>
      <div class="col-10 padding">Date Range:</div>
      <div class="col-20 padding item item-light" ion-datetime-picker date ng-model="vm.dateRange.start"  ng-change="dateChange()">
          {{vm.dateRange.start| date: "MMM dd, yyyy"}}
      </div>

      <div class="col-20 item item-light padding" ion-datetime-picker date ng-model="vm.dateRange.end"  ng-change="dateChange()">
          {{vm.dateRange.end| date: "MMM dd, yyyy"}}
      </div>

  </div>



  <div class="padding">

      <h3 class="title">Analytics</h3>
      <hr><br>

        <style type="text/css">

          ._720kb-datepicker-calendar {
            width:350px;
          }

          .bodyDiv {
            width: 948px;
          }

          chart {
            padding-left: 20px;
            padding-right: 0px;
            display: inline-block;
            background: white;
            border: 1px solid #f0f0f0;
          }

          chart h1 {
            font-size: 17px !important;
            font-weight:normal;
            margin-bottom: 10px;
            margin-top: 1px;
          }

          .table {
            padding: 19px;
            width: 471px !important;
            min-height: 262px !important;
            float:left;
            margin-right:3px;
          }

          .table .row {
            padding: 5px;
          }

          .table .row span {
            font-weight: bold;
            float: right;
          }

          .even {
            background: #f9f9f9;
          }

/*          div:first-letter {
            text-transform: uppercase;
          }*/

          box {
            padding: 1.4%;
            display: inline-block;
            background: white;
            border: 1px solid #f0f0f0;
            width: 313px;
          }

          box span {
            font-size: 15px;
          }

          box h2 {
            margin: 0px;
            color: #5a5a5a;
            font-size: 30px !important;
            font-weight: bold !important;
          }


        </style>

        <div class="bodyDiv" ng-show="analyticsReady">

          <box>
            <span>Avg. Active Users</span>
            <h2 id="activeUsersNumber">0</h2>
          </box>
          <box>
            <span>Avg. Screens / Session</span>
            <h2 id="screenSessionNumber">0</h2>
          </box>
          <box>
            <span>Avg. Session Duration (hh:mm:ss)</span>
            <h2 id="timeSessionNumber">00:00:00</h2>
          </box>
          <br><br>

          <chart id="newUsers"></chart>
          <chart id="activeUsers"></chart>
          <chart id="avgSessionDuration"></chart>
          <chart id="screenviewsPerSession"></chart>


          <chart class="table">
            <h1>Screen Views</h1>
            <div class="row" ng-repeat="screen in screens" ng-class-even="'even'" ng-if="screen[0] != 'main-menu' &&  _server != 'http://vodafone.staffconnectapp.com/'">
              <div>{{ screen[0] }}<span>{{ screen[1] }}</span></div>
            </div>

            <!--If vodafone server then -->
            <div class="row" ng-repeat="screen in screens" ng-class-even="'even'" ng-if="screen[0] != 'main-menu' &&  _server == 'http://vodafone.staffconnectapp.com/' && (screen[0] !== 'flybenews' && screen[0] !== 'crewnews' && screen[0] !== 'quizV2' && screen[0] !== 'leaderboardV2')">
              <!-- {{screen[0]}} != {{'flybenews'}} -->
              <div>{{ screen[0] }}<span>{{ screen[1] }}</span></div>
              
            </div>
          </chart>

          <chart class="table">
            <h1>Cities</h1>
            <div class="row" ng-repeat="city in cities" ng-class-even="'even'">
              <div>{{ city[0] }}<span>{{ city[1] }}</span></div>
            </div>
          </chart>

          <chart class="table hide">
            <h1>Devices</h1>
            <div class="row" ng-repeat="device in devices" ng-class-even="'even'">
              <div>{{ device[0] }}<span>{{ device[1] }}</span></div>
            </div>
          </chart>


        </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</ion-content>