.container{
  margin: 2%;
}
.add-quiz label{
  line-height: 28px;
}
.add-quiz input{
    background: transparent !important;
    border: 1px solid #ddd;
}
.quiz-table .item{
  padding: 10px !important;
}
.add-questions{
  display: block;
}
.add-questions{
  margin-top: 20px;
}
.button-right{
  float: right;
  margin-top: 20px;
}
.answers{
  margin-top:15px;
}
.answers .ion-trash-a{
  font-size: 25px;
}
.footer-bar{
    width: 100%;
    position: fixed;
    bottom: 0;

}
.quiz-table-header .item{
      background: #ebebeb;
}
.quiz-table .item{
  font-weight: normal;
}
.icon{
  font-size: 25px;
  margin: 0 4px;
}
.quiz-table{
  margin-top: 20px;
}
/*.custom-modal{      Now in global style.css
  background: #f9f9f9;
}*/
input{
  background: transparent !important;
  border: 1px solid #a1a1a1 !important;
}
.quiz-radio{
  margin-top: 9px !important;
}
label.text{
  margin-top: 7px;
}
.remove-answer{
    margin-left: 8px;
    margin-top: 2px;
}


.leaderboardModal{
    margin: 1%;
    width: 98%;
}
.leaderboardModal .item{
  font-size: 14px;
}


.leaderboard-modal{
/*    width: 75% !important;
    top: 12%;
    left: 13%;
    right: 13%;*/
}