<ion-content>
  <div class="padding">

  <div class="button button-large button-assertive" ng-click="vm.showEventModal()">+ Add event</div>

  	<div class="list quiz-table">

      <div class="row">
        <div class="col-90"><h3 class="title">Upcoming events</h3></div>
        <!-- <div class="col-10"><h3 class="title">{{vm.eventItems.length}}</h3></div> -->
      </div>
      <hr><br>
      <ion-item class="item-divider row">
        <div class="col-30" ng-click="vm.orderField = 'title';vm.orderDirection = !vm.orderDirection;">
          Event name
          <i ng-if="vm.orderField == 'title';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'attendees';vm.orderDirection = !vm.orderDirection;">
          Attendees
          <i ng-if="vm.orderField == 'attendees';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'startTime';vm.orderDirection = !vm.orderDirection;">
          Start date
          <i ng-if="vm.orderField == 'startTime';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'endTime';vm.orderDirection = !vm.orderDirection;">
          End date
          <i ng-if="vm.orderField == 'endTime';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.eventItems | orderBy:vm.orderBy:vm.orderDirection" ng-if="item.startTime > vm.currentDate" class="row">
        <div class="col-30">{{ item.title }}</div>
        <div class="col-20">{{ item.attendees }}</div>
        <div class="col-20">{{ item.startTime | date: 'dd MMM HH:mm' }}</div>
        <div class="col-20">{{ item.endTime | date: 'dd MMM HH:mm'}}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="vm.showEditEventModal(item)"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveEvent(item)"></a>
        </div>
      </ion-item>

      <br>
      <div class="row">
        <div class="col-90"><h3 class="title">Past events</h3></div>
        <!-- <div class="col-10"><h3 class="title">{{vm.eventItems.length}}</h3></div> -->
      </div>
      <hr><br>
      <ion-item class="item-divider row">
        <div class="col-30" ng-click="vm.orderField = 'title';vm.orderDirection = !vm.orderDirection;">
          Event name
          <i ng-if="vm.orderField == 'title';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'attendees';vm.orderDirection = !vm.orderDirection;">
          Attendees
          <i ng-if="vm.orderField == 'attendees';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'startTime';vm.orderDirection = !vm.orderDirection;">
          Start date
          <i ng-if="vm.orderField == 'startTime';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'endTime';vm.orderDirection = !vm.orderDirection;">
          End date
          <i ng-if="vm.orderField == 'endTime';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.eventItems | orderBy:vm.orderBy:vm.orderDirection" ng-if="item.startTime < vm.currentDate" class="row">
        <div class="col-30">{{ item.title }}</div>
        <div class="col-20">{{ item.attendees }}</div>
        <div class="col-20">{{ item.startTime | date: 'dd MMM HH:mm' }}</div>
        <div class="col-20">{{ item.endTime | date: 'dd MMM HH:mm'}}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="vm.showEditEventModal(item)"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveEvent(item)"></a>
        </div>
      </ion-item>
<!--       <div class="button button-block button-positive" ng-if="vm.upcomingEventsLimit == 5" ng-click="vm.upcomingEventsLimit = null">View all</div>
      <div class="button button-block button-positive" ng-if="vm.upcomingEventsLimit < 1" ng-click="vm.upcomingEventsLimit = 5">Collapse</div> -->


    </div>
  </div>

<div class="spacer"></div>

</ion-content>
