<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Event Management</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">


      <form class="add-question">

        <div class="list">

          <label class="item item-input borderless">
            <span class="input-label">Event Title:</span>
            <input type="text" ng-model="vm.eventForm.title" required>
          </label>

          <label class="item item-input borderless">
            <span class="input-label">Description:</span>
            <textarea type="text" rows="10" ng-model="vm.eventForm.additionalNotes" required></textarea>
          </label>

          <label class="item item-input borderless">
            <span class="input-label">Location:</span>
            <input type="text" ng-model="vm.eventForm.location">
          </label>

          <label class="item item-input borderless">
            <span class="input-label">Attendees:</span>
            <input type="text" ng-model="vm.eventForm.attendees">
          </label>

          <div class="item item-input borderless">
            <span class="input-label">Image upload:</span>
            <img style="height:100px;" ngf-thumbnail="vm.eventForm.imageFile" />
            <div class="button" ngf-select ngf-accept="'image/*'" ng-model="vm.eventForm.imageFile" name="file" ng-class="vm.eventForm.image ? 'button-assertive':''">{{ vm.eventForm.image ? 'Change':'Select'}}</div>
          </div>

          <div class="row">
            <div class="col">
              <label class="item item-input item-stacked-label borderless">
                <span class="input-label">Start Date:</span>
                <input type="text" ng-model="vm.eventForm.startTime | fixDate" required disabled>
                <div class="datePicker" date-picker format="DD-MM-YYYY HH:mm" ng-model="vm.eventForm.startTime"></div>
              </label>
            </div>
            <div class="col">
              <label class="item item-input item-stacked-label borderless">
                <span class="input-label">End Date:</span>
                <input type="text" ng-model="vm.eventForm.endTime | fixDate" required disabled>
                <div class="datePicker" date-picker format="DD-MM-YYYY HH:mm" ng-model="vm.eventForm.endTime"></div>
              </label>
            </div>
          </div>

<!--           <label class="item item-input item-select">
            <div class="input-label">
              Status
            </div>
            <select ng-model="vm.eventForm.status" required>
              <option value="1">Visible</option>
              <option value="0">Hidden</option>
            </select>
          </label> -->


        </div>



      </form>



  </ion-content>

  <ion-footer-bar>
      <div class="row">
        <a class="button button-dark col-20" ng-click="vm.closeEventModal()">Cancel</a>
        <a class="button button-assertive col-20" ng-click="vm.addEvent(vm.eventForm)">Save</a>
      </div>
  </ion-footer-bar>

</ion-modal-view>
