<ion-content>

    <div class="padding">


      <button  ng-if="quizData.questions.length>0 && quizDetails.visible" class="button" ng-class="quizDetails.published==1 ?'button-stable' : 'button-assertive'" ng-click="publishQuiz(quizDetails.id, quizDetails.published)">{{quizDetails.published==0 ?'Publish' : 'Unpublish'}}</button>
      <button class="button button-assertive" ng-class="quizDetails.visible==1 ?'disabled':''" ng-click="finalizeQuiz(quizDetails.id)">{{quizDetails.visible==1 ?'Finalised' : 'Finalise'}}</button>

      <div class="list quiz-table">
        <h3 class="title">Quiz Editor</h3>
        <hr>
        <br>
        <form class="add-quiz" ng-submit="saveQuiz(quizDetails)">
          <label class="item item-input">
              <span class="input-label">*Quiz name</span>
              <input type="text" ng-model="quizDetails.name" required>
              <button type="submit" class="button button-assertive">Update</button>
          </label>
        </form>
        <br>






      <ion-item class="item-divider row">
        <div class="col-10">#</div>
        <div class="col-80">Question title</div>
        <div class="col-10">
          Action
        </div>
      </ion-item>
      <ion-item ng-repeat="ques in quizData.questions track by $index" class="row">
        <div class="col-10">{{$index + 1}}</div>
        <div class="col-80">{{ques.name}}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="editQuestion(ques.id)"></a>
          <a class="icon ion-trash-a" ng-if="quizDetails.visible==0" ng-click="removeQuestion($index)"></a>
        </div>
      </ion-item>

      <button ng-if="!quizDetails.visible" type="button" class="button button-assertive col-20 button-right" ng-click="addQuestions()">+ Add question</button>
      <br/>

  </div>
</ion-content>
