<ion-modal-view class="leaderboard-modal">
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Leaderboard</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">
    <div class="leaderboardModal">
      <h1 class="title">{{leaderboardTitle}}</h1>
      <div ng-if="leaderboardList==''">No entries recorded so far</div>
      <div class="row col-100" ng-repeat="item in leaderboardList | orderBy: ['-points','time']">
      <div class="col-40 item">{{ item.user}}</div>
      <div class="col-20 item">{{ item.time | secondsToHHmmss }}</div>
      <div class="col-20 item">{{ item.points }} / {{ quesLength }}</div>
      <div class="col-20 item">{{ item.date}}</div>
    </div>
  </ion-content>
</ion-modal-view>