<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Question Editor</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">

    <div class="padding">

          <div class="list row">
            <label class="text col-20">*Question title</label>  
            <input class="col-80" type="text" ng-model="form.name" required />
          </div>

          <div class="list row answers" ng-repeat="field in table.value track by $index"> 
              <label class="text col-20">*Answer {{$index + 1}}</label>
              <div class="col-80 row">
                <input class="quiz-radio col-10" type="radio" name="correct" ng-model="table.correct" ng-value="table.value[$index]"  />
                <input type='text' class="form-control col-80" ng-model='table.value[$index]' required>
                <a class="ion-trash-a col-10 remove-answer" ng-click="removeFormField($index);" ng-if="quizDetails.visible==0"></a>
              </div>
         </div>

         <div class="add-answers row" ng-if="quizDetails.visible==0">
              <div class="col-20"></div>
              <a class="button button-positive col-30" ng-click="addFormField()">+ Add answers</a>
         </div>

    </div>
      

  </ion-content>

    <ion-footer-bar>
        <div class="row">
          <a class="button button-dark col-20" ng-click="closeQuestionModal()">Cancel</a>
          <a class="button button-assertive col-20" ng-click="saveQuestions(form)" ng-disabled="!table.correct">Save questions</a>
        </div>
    </ion-footer-bar>

</ion-modal-view>