<ion-content>
    <div class="padding">
        <div class="list quiz-table">
            <h3 class="title">Quizzes</h3>
            <hr>
            <br>
            <!-- <form class="add-quiz" ng-submit="quizAddNew(form)">
        <div class="list row">
         <label class="col-20">New quiz name:</label>
          <label class="col-50">
            <input type="text" ng-model="form.name">
          </label>
            <button type="submit" class="button button-assertive col-10">+ New</button>
        </div>
      </form> -->
            <!-- <div class="list quiz-table">
      <div class="row quiz-table-header">
        <div class="col-60 item">Quizzes</div>
        <div class="col-20 item">Times taken</div>
        <div class="col-20 item">Actions</div>
      </div>

      <div class="row" ng-repeat="item in list" ng-if="item.type==0">
        <div class="col-60 item">{{ item.name }}</div>
        <div class="col-20 item">{{ item.count }}</div>
        <div class="col-20 item" >
          <a class="icon" href="#" ng-class="item.published==1 ?'ion-eye' : 'ion-eye-disabled'"></a>
          <a class="icon ion-trophy" href="#" ng-click="leaderboard(item.id)"></a>
          <a class="icon ion-edit" ui-sref="dashboard.quiz-detail({featureIndex:$root.currentFeature.index, id:item.id})"></a>
          <a class="icon ion-trash-a" ng-click="remove(item.id)"></a>
        </div>
      </div>
    </div> -->
            <form class="add-quiz" ng-submit="quizAddNew(form)">
                <label class="item item-input">
                    <span class="input-label">New quiz name:</span>
                    <input type="text" ng-model="form.name">
                    <button type="submit" class="button button-assertive col-30">+ New Quiz</button>
                </label>
            </form>
            <br>
            <ion-item class="item-divider row">
                <div class="col-40">
                    Quizzes
                </div>
                <div class="col-20">Times taken</div>
                <div class="col-20">Status</div>
                <div class="col-20">Actions</div>
            </ion-item>
            <ion-item ng-repeat="item in list" ng-if="item.type==0" class="row">
                <div class="col-40">{{ item.name }}</div>
                <div class="col-20">{{ item.count }}</div>
                <div class="col-20">{{ item.published==1 ? 'Published' : 'Hidden' }}</div>
                <div class="col-20">
                    <a class="icon ion-trophy" href="#" ng-click="leaderboard(item.id)"></a>
                    <a class="icon ion-edit" ui-sref="dashboard.quiz-detail({featureIndex:$root.currentFeature.index, id:item.id})"></a>
                    <a class="icon ion-trash-a" ng-click="remove(item.id)"></a>
                </div>
            </ion-item>
        </div>
    </div>
    <div class="spacer"></div>
</ion-content>
