<ion-content class="home-css">
  <div class="padding">

      <div class="hero">
        <img  ng-src="{{ $root.config.homescreen.header.headerBar.imageUrl }}" />
        <br>
        <div class="button button-assertive">App dashboard</div>
      </div>

      <div class="list">
        <h3 class="title">Ticker tape</h3>
        <hr>
        <form ng-submit="vm.updateTicker(vm.ticker)">
          <label class="item item-input">
            <input type="text" placeholder="Please set a ticker tape message here." ng-model="vm.ticker.value" />
            <button type="submit" class="button button-assertive col-10">Update</button>
          </label>
        </form>
      </div>

      <div class="list">
        <h3 class="title">Global Push Notification ({{vm.devices}})</h3>
        <hr>
        <form ng-submit="vm.sendPush(vm.push)">
          <label class="item item-input">
            <input placeholder="Send a push notification to all users of the app" type="text" ng-model="vm.push.message" />
            <button type="submit" class="button button-assertive col-10">Send</button>
          </label>
        </form>
      </div>

      <div class="list dataList">
        <h3 class="title">Global Push History</h3>
        <hr>
        <div class="row headerRow">
          <div class="col col-20">Date</div>
          <div class="col col-20">User</div>
          <div class="col">Message</div>
        </div>
        <div class="row dataRow" ng-repeat="log in vm.pushLog">
          <div class="col col-20">{{log.date | date:'dd MMM HH:mm'}}</div>
          <div class="col col-20">{{log.user.first_name}} {{log.user.last_name}}</div>
          <div class="col"> {{log.message}} </div>
        </div>

      </div>

  </div>
</ion-content>
