<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Add User</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">
	<div class="padding">

			<div class="list">
				<label class="item item-input borderless">
					<span class="input-label">Username</span>
					<input type="text" placeholder="john@doe.com" ng-model="current.username" required>
				</label>
        		<label class="item item-input borderless" ng-hide="true">
					<span class="input-label">Password</span>
					<input type="text" placeholder="password" ng-model="current.password">
				</label>
				<label class="item item-input borderless">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="John" ng-model="current.first_name" required>
				</label>
				<label class="item item-input borderless">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Dow" ng-model="current.last_name" required>
				</label>
				<label class="item item-input item-select borderless">
					<div class="input-label">
						Location
					</div>
					<select ng-model="current.location" ng-options="option.name for option in locations track by option._id" required>
					</select>
				</label>
				<label class="item item-input item-select borderless">
					<div class="input-label">
						Department
					</div>
					<select ng-model="current.department" ng-options="option.name for option in departments track by option._id" required>
					</select>
				</label>
				<label class="item item-input item-select borderless" required>
					<div class="input-label">
						Access
					</div>
					<select ng-model="current.role">
						<option value="user" selected>User</option>
						<option value="admin">Admin</option>
					</select>
				</label>
                <label class="item item-input item-select borderless" required>
					<div class="input-label">
						Disabled
					</div>
					<select ng-model="current.disabled">
						<option value="false" selected>No</option>
						<option value="true">Yes</option>
					</select>
				</label>
			</div>


	</div>
  </ion-content>

	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeAddUserModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="addUser(current);">Save</a>
	      </div>
	  </ion-footer-bar>

</ion-modal-view>
