<ion-content>
    <div class="container">
        <div class="innerDivsMargin5">
            <a class="button button-positive button-outline" ng-click="openAddUserModal();">+ Add new user</a>
            <a class="button button-positive button-outline" ui-sref="dashboard.permissions">
                <i class="ion-android-options"></i> User locations and departments
            </a>
            <a class="button button-positive button-outline" ui-sref="dashboard.bulkAddUser">
                <i class="ion-upload"></i> Bulk User Upload
            </a>
            <a class="button button-positive button-outline" ui-sref="dashboard.auth2">
                <i class="ion-upload"></i> Bulk Invite Upload
            </a>
            <a class="button button-positive button-outline" title="User Table" ng-click='userTable.generate()' ng-href="{{ userTable.link() }}" download="userTable.csv">
                <i class="ion-ios-download"></i> Export to CSV
            </a>
            <a class="button button-positive button-outline" ng-click="resendAllVerificationEmails()" ng-disabled="disableResendAllVerificationEmails">
                <i class="ion-lock-combination"></i> {{ disableResendAllVerificationEmails ? disableResendAllVerificationEmails : 'Resend all verification emails' }}
            </a>
        </div>
        <h3 class="title">Advanced User Management <span class="pull-right">{{ users.length }}</span></h3>
        <hr>
        <form>
            <label class="item item-input item-divider">
                <span class="input-label">Search users:</span>
                <input type="search" placeholder="Search here.." ng-model="search.query" />
            </label>
        </form>
        <br>
        <div class="list">
            <div class="item item-divider">
                <div class="row">
                    <div class="col-20" ng-click="orderField = 'first_name';orderDirection = !orderDirection;">
                        Name
                        <i ng-if="orderField == 'first_name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-20" ng-click="orderField = 'location.name';orderDirection = !orderDirection;">
                        Location
                        <i ng-if="orderField == 'location.name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-20" ng-click="orderField = 'department.name';orderDirection = !orderDirection;">
                        Department
                        <i ng-if="orderField == 'department.name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-10" ng-click="orderField = 'role';orderDirection = !orderDirection;">
                        Role
                        <i ng-if="orderField == 'role';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-10" ng-click="orderField = 'pin';orderDirection = !orderDirection;">
                        Verified
                        <i ng-if="orderField == 'pin';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-10" ng-click="orderField = 'info.created_method';orderDirection = !orderDirection;">
                        Method
                        <i ng-if="orderField == 'info.created_method';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                    <div class="col-10" ng-click="orderField = 'lastActive';orderDirection = !orderDirection;">
                        Last active
                        <i ng-if="orderField == 'lastActive';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap" collection-repeat="user in users | filter:search.query | orderBy:orderField:orderDirection" ng-click="openEditUserModal(user);">
                <div class="row">
                    <div class="col-20">{{user.first_name}} {{user.last_name}}</div>
                    <div class="col-20">{{user.location.name}}</div>
                    <div class="col-20">{{user.department.name}}</div>
                    <div class="col-10 capitalize">{{user.role}}</div>
                    <div class="col-10">{{user.pin ? 'Not verified':'Verified'}}</div>
                    <div class="col-10">{{user.info.created_method}}</div>
                    <div class="col-10">{{user.lastActive | date:'short'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <!-- EXPORT DATA FOR CSV DOWNLOAD -->
    <table export-csv="userTable" separator="," style="display: none;">
        <tr>
            <th>Email address</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Location</th>
            <th>Department</th>
            <th>Role</th>
            <th>Disabled</th>
            <th>Verified</th>
            <th>Temp Pass</th>
            <th>Last login</th>
            <th>Last active</th>
        </tr>
        <tr class="list-group" ng-repeat="user in users track by $index">
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.location.name}}</td>
            <td>{{user.department.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.disabled}}</td>
            <td>{{user.pin ? 'No':'Yes'}}</td>
            <td>{{user.tempPass}}</td>
            <td>{{user.lastLogin}}</td>
            <td>{{user.lastActive}}</td>
        </tr>
    </table>
</ion-content>
