<ion-content>
  <div class="padding">
    <div class="item item-divider">
      Auth2
    </div>
    <button class="button" ng-click="add();">
      Add
    </button>
    <button class="button" ng-click="clear();">
      Clear
    </button>
    <div class="card" ng-show="showUpload">
      <div class="item item-text-wrap">
        <div class="item item-input item-stacked-label item-stable borderless">
          <span class="input-label">CSV Upload</span>
          <div class="button button-assertive" ngf-select="upload($files)" ng-model="files" ngf-multiple="false">Upload</div>
        </div>
    </div>
    </div>
    <br />
    <div class="list compactList" ng-hide="showUpload">
      <div class="item item-divider">
        Invalid Users
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">Data 1</div>
          <div class="col">Data 2</div>
          <div class="col">Name</div>
          <div class="col">Location</div>
          <div class="col">Department</div>
          <div class="col-10"></div>
        </div>
      </div>
      <div ng-repeat="user in invalidUsers">
        <div class="item row">
          <div class="col" ng-if="user.data1">{{user.data1}}</div>
          <div class="col" ng-if="!user.data1"><input type="text" ng-model="user.data1"></div>
          <div class="col" ng-if="user.data2">{{user.data2}}</div>
          <div class="col" ng-if="!user.data2"><input type="text" ng-model="user.data2"></div>
          <div class="col">{{user.first_name}} {{user.last_name}}</div>
          <div class="col" ng-if="user.location !== false">{{user.location.name}}</div>
          <div class="col" ng-if="user.location == false">
            <label class="item item-input item-select borderless">
    					<select ng-model="user.newLocation" ng-options="option.name for option in locations track by option._id" required>
    					</select>
    				</label>
          </div>
          <div class="col"  ng-if="user.department !== false">{{user.department.name}}</div>
          <div class="col"  ng-if="user.department == false">
            <label class="item item-input item-select borderless">
    					<select ng-model="user.newDepartment" ng-options="option.name for option in departments track by option._id" required>
    					</select>
    				</label>
          </div>
          <div class="col-10">
            <button class="button" ng-click="save(user);">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="list compactList" ng-hide="showUpload">
      <div class="item item-divider">
        Valid Users
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">Data 1</div>
          <div class="col">Data 2</div>
          <div class="col">Name</div>
          <div class="col">Location</div>
          <div class="col">Department</div>
        </div>
      </div>
      <div ng-repeat="user in validUsers">
        <div class="item row">
          <div class="col">{{user.data1}} </div>
          <div class="col">{{user.data2}} </div>
          <div class="col">{{user.first_name}} {{user.last_name}}</div>
          <div class="col">{{user.location.name}}</div>
          <div class="col">{{user.department.name}}</div>
        </div>
        <div class="item row error" ng-if="user.error">
          <i class="icon ion-arrow-up-a"></i> {{user.error}}
        </div>
      </div>
    </div>

    <div class="padding">
      <div class="item item-divider">
        Available Auth2 Codes
      </div>
      <div ng-repeat="user in availableUsers">
        <div class="item row" ng-style="{'background' : user.used ? '#77DD77' : '	#FFFFFF'}">
          <div class="col">{{user.data1}} </div>
          <div class="col">{{user.data2}} </div>
          <div class="col">{{user.first_name}} {{user.last_name}}</div>
          <div class="col">{{user.location.name}}</div>
          <div class="col">{{user.department.name}}</div>
        </div>
      </div>
    </div>

<div class="spacer"></div>
</div>
</ion-content>
