<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Edit User</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">
	<div class="padding">
			<div class="list">

        <label class="item item-input borderless">
          <span class="input-label" ng-show="current.info.created_method != 'app_nondesk'">Email Address</span>
          <div ng-if="current.avatar">
            <img ng-src="{{ current.avatar ? current.avatar : 'img/profile-dummy.png'}}" class="profile-dummy" style="height:30px;border-radius:50px;" />
            &nbsp;&nbsp;
          </div>
          <div ng-if="!current.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(current.first_name + current.last_name)" style="margin-top:2px; width:40px; height:40px; text-align:center; font-size:14px; margin-left:0px;">
  					<span class="initials" style="position:relative; top:11px; font-size: 18px; margin-left:5px;">{{current.first_name | uppercase | limitTo:1}}{{current.last_name | uppercase | limitTo:1}}</span>
            &nbsp;&nbsp;
  				</div>
          <input type="text" ng-show="current.info.created_method != 'app_nondesk'" placeholder="john@doe.com" ng-model="current.username" disabled required>
        </label>

				<label class="item item-input borderless">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="John" ng-model="current.first_name" required>
				</label>
				<label class="item item-input borderless">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Dow" ng-model="current.last_name" required>
				</label>
				<label class="item item-input item-select borderless">
					<div class="input-label">
						Location
					</div>
					<select ng-model="current.location" ng-options="option.name for option in locations track by option._id" required>
					</select>
				</label>
				<label class="item item-input item-select borderless">
					<div class="input-label">
						Department
					</div>
					<select ng-model="current.department" ng-options="option.name for option in departments track by option._id" required>
					</select>
				</label>
				<label class="item item-input item-select borderless" required>
					<div class="input-label">
						Access
					</div>
					<select ng-model="current.role">
						<option value="user">User</option>
						<option value="admin">Admin</option>
					</select>
				</label>
        <label class="item item-input item-select borderless" required>
					<div class="input-label">
						Disabled
					</div>
					<select ng-model="current.disabled">
						<option value="false">No</option>
						<option value="true">Yes</option>
					</select>
				</label>
        <label class="item item-input item-select borderless">
					<div class="input-label">
						Verified
					</div>
					<input type="text" placeholder="" value="{{current.pin ? 'No':'Yes'}}" disabled>
				</label>
        <label class="item item-input borderless">
					<div class="input-label">
						Last login
					</div>
					<input type="text" placeholder="" value="{{current.lastLogin | date:'d/M/yy HH:mm'}}" disabled>
				</label>
        <label class="item item-input borderless">
					<div class="input-label">
						Last active
					</div>
			    <input type="text" placeholder="" value="{{current.lastActive | date:'d/M/yy HH:mm'}}" disabled>
				</label>
        <br>
        <div class="bar bar-assertive">
      	  <button class="button button-icon">Advanced Options</button>
      	  <div class="h1 title"></div>
      	  <button class="button button-clear button-positive"></button>
        </div>
        <br><br><br>
  		  <a class="item item-input borderless" ng-click="resendVerificationEmail(current.username)" ng-show="current.pin">
  		    <div class="input-label assertive">Resend Verification Email</div>
  		  </a>
        <a class="item item-input borderless" ng-click="manuallyVerified(current)" ng-show="current.pin">
  		    <div class="input-label assertive">Manually Verify</div>
  		  </a>

        <a class="item item-input borderless" ng-click="manuallySetUserPassword(current)" ng-show="!current.pin">
  		    <div class="input-label assertive">Manually Set User Password</div>
  		  </a>

			</div>


	</div>
  </ion-content>

	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeEditUserModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="saveUser(current);">Save</a>
	      </div>
	  </ion-footer-bar>

</ion-modal-view>
