<ion-content>
  <div class="container">

    <div class="button button-assertive" ng-click="openAddUserModal();">+ Add new user</div>
    <div class="button button-positive" ui-sref="dashboard.permissions">
      <i class="ion-android-options"></i>
      User locations and departments
    </div>
    <div class="button button-positive" ui-sref="dashboard.bulkAddUser" ng-hide="true">
      <i class="ion-upload"></i>
      Bulk User Upload
    </div>
    <a class="button button-positive" title="User Table" ng-click='userTable.generate()' ng-href="{{ userTable.link() }}" download="userTable.csv">
      <i class="ion-ios-download"></i>
      Export to CSV
    </a>



    <h3 class="title">User Management <span class="pull-right" ng-click="goToAdvanced()">{{ users.length }}</span></h3>
    <hr>
    <form>
      <label class="item item-input item-divider">
        <span class="input-label">Search users:</span>
        <input type="search" placeholder="Search here.." ng-model="search.query" />
      </label>
    </form>
    <br>

    <div class="list">
      <div class="item item-divider">
        <div class="row">
          <div class="col-10"></div>
          <div class="col-20" ng-click="orderField = 'first_name';orderDirection = !orderDirection;">
            Name
            <i ng-if="orderField == 'first_name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
          </div>
          <div class="col-20" ng-click="orderField = 'location.name';orderDirection = !orderDirection;">
            Location
            <i ng-if="orderField == 'location.name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
          </div>
          <div class="col-20" ng-click="orderField = 'department.name';orderDirection = !orderDirection;">
            Department
            <i ng-if="orderField == 'department.name';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
          </div>
          <div class="col-20" ng-click="orderField = 'role';orderDirection = !orderDirection;">
            Role
            <i ng-if="orderField == 'role';" ng-class="orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
          </div>
          <div class="col-10">Actions</div>
        </div>
      </div>
      <div class="item item-text-wrap" collection-repeat="user in users | filter:search.query | orderBy:orderField:orderDirection" ng-click="openEditUserModal(user);">
        <div class="row">
          <div class="item-avatar col-10" style="min-height:20px;">
            <img ng-if="user.avatar" ng-src="{{user.avatar ? user.avatar : 'img/profile-dummy.png'}}"/>
            <div ng-if="!user.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(user.first_name + user.last_name)">
              <span class="initials">{{user.first_name | uppercase | limitTo:1}}{{user.last_name | uppercase | limitTo:1}}</span>
            </div>
          </div>
          <div class="col-20">{{user.first_name}} {{user.last_name}}</div>
          <div class="col-20">{{user.location.name}}</div>
          <div class="col-20">{{user.department.name}}</div>
          <div class="col-20 capitalize">{{user.role}}</div>
          <div class="col-10"><a class="icon ion-edit" ng-click="openEditUserModal(user);"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>




  <!-- EXPORT DATA FOR CSV DOWNLOAD -->
  <table export-csv="userTable" separator="," style="display: none;">
    <tr>
      <th>Email address</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Location</th>
      <th>Department</th>
      <th>Role</th>
      <th>Disabled</th>
      <th>Verified</th>
      <th>Temp Pass</th>
      <th>Last login</th>
      <th>Last active</th>
    </tr>
    <tr class="list-group" ng-repeat="user in users track by $index">
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.location.name}}</td>
        <td>{{user.department.name}}</td>
        <td>{{user.role}}</td>
        <td>{{user.disabled}}</td>
        <td>{{user.pin ? 'No':'Yes'}}</td>
        <td>{{user.tempPass}}</td>
        <td>{{user.lastLogin}}</td>
        <td>{{user.lastActive}}</td>
    </tr>
  </table>



</ion-content>
