<ion-content>
  <div class="padding">

  <div class="button button-assertive" ng-click="vm.showDocumentModal()">+ Add resource</div>

  	<div class="list quiz-table">
      <h3 class="title">Categories</h3>
      <hr><br>
      <form class="add-quiz" ng-submit="vm.addCategory(vm.categoryForm)">
        <label class="item item-input">
          <span class="input-label">Add new category:</span>
          <input dir="auto" type="text" ng-model="vm.categoryForm.title" />
          <button type="submit" class="button button-assertive col-10">Add</button>
        </label>
      </form>
      <br>

    
      <ion-item class="item-divider row">
        <div class="col-90">
          Name
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.libraryCategories" class="row">
        <div class="col-90">{{ item.title }}</div>
        <div class="col-10">
          <a class="icon ion-trash-a" ng-click="vm.removeCategory(item)"></a>
        </div>
      </ion-item>

    <br /><br />

      <div class="row">
        <div class="col-90"><h3 class="title">Resources</h3></div>
        <div class="col-10"><h3 class="title">{{vm.libraryItems.length}}</h3></div>
      </div>
      <hr><br>
      <ion-item class="item-divider row">
        <div class="col-60" ng-click="vm.orderField = 'title';vm.orderDirection = !vm.orderDirection;">
          Name
          <i ng-if="vm.orderField == 'title';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-25" ng-click="vm.orderField = 'category';vm.orderDirection = !vm.orderDirection;">
          Category
          <i ng-if="vm.orderField == 'category';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-15">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.libraryItems | orderBy:vm.orderBy:vm.orderDirection" class="row">
        <div class="col-60">{{ item.title }}</div>
        <div class="col-25">{{ item.category }}</div>
        <div class="col-15">
          <a class="icon ion-eye" ng-href="{{item.libraryDocument}}" target="_blank"></a>
          <a class="icon ion-edit" ng-click="vm.showEditDocumentModal(item)"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveDocument(item)"></a>
        </div>
      </ion-item>



    </div>
  </div>

<div class="spacer"></div>

</ion-content>
