<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Resource management</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">

      <form class="add-question">

        <div class="list">

          <label class="item item-input borderless">
            <span class="input-label">Document name:</span>
            <input dir="auto" type="text" ng-model="vm.documentForm.title">
          </label>


          <div class="item item-input borderless">
            <span class="input-label">PDF upload:</span>
            <div class="button" ngf-select ngf-accept="'application/pdf'" ng-model="vm.documentForm.file" name="file" ng-class="vm.documentForm.file ? 'button-assertive':''">{{ vm.documentForm.file ? 'Change':'Select'}}</div>
          </div>

          <label class="item item-input item-select borderless">
            <div class="input-label">
              Category
            </div>
            <select ng-model="vm.documentForm.category">
              <option ng-repeat="category in vm.libraryCategories"> {{category.title}}</option>
            </select>
          </label>

<!--           <label class="item item-input item-select">
            <div class="input-label">
              Status
            </div>
            <select>
              <option>Hidden</option>
              <option selected>Visible</option>
            </select>
          </label> -->


        </div>



      </form>



  </ion-content>

  <ion-footer-bar>
      <div class="row">
        <a class="button button-dark col-20" ng-click="vm.closeDocumentModal()">Cancel</a>
        <a class="button button-assertive col-20" ng-click="vm.addDocument(vm.documentForm)">Save</a>
      </div>
  </ion-footer-bar>

</ion-modal-view>
