<ion-side-menus enable-menu-with-back-views="false" presence>
  <ion-side-menu-content>
    <div ng-include="'templates/nav.html'" class="padding nav-body"></div>
    <ion-nav-view name="content">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">

    <ion-content class="has-header">
      <div ng-include="'templates/nav.html'"></div>
    </ion-content>
    <ion-item class="item-dark" style="position:absolute;bottom:0px;width:275px;text-align:center;border:none;">v1.1.12-rc-1</ion-item>
  </ion-side-menu>
</ion-side-menus>
