<ion-nav-bar class="bar-dark">
  <ion-nav-title>
  </ion-nav-title>
</ion-nav-bar>
<ion-content class="has-header">
  <form ng-submit="login(data)" class="padding login-form">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-dark" type="submit">Login</button>
      <button class="button button-block button-dark" type="button" ng-click="clear()">Back</button>
      <div class="extratext">
        <p ng-click="requestPassword(userObject)">Request password</p>
      </div>

  </form>
</ion-content>
