<ion-list class="navigation">
  <ion-item menu-close href="" ui-sref="dashboard.home" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.home'}">
    <i class="icon ion-ios-home-outline"></i>
    Home
  </ion-item>
  <ion-item menu-close href="" ui-sref="dashboard.permissions" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.permissions'}">
    <i class="icon ion-locked"></i>
    Groups
  </ion-item>
  <ion-item menu-close href="" ui-sref="dashboard.userManagement" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.userManagement'}">
    <i class="icon ion-person-stalker"></i>
    User Management
  </ion-item>


  <ion-item menu-close href="" ui-sref="dashboard.{{feature.module}}({featureIndex:feature.index, type:feature.moduleId})" class="item item-icon-left nav-items" ng-repeat="feature in $root.config.features" ng-class="{currentNav: currentFeature.index == feature.index}">
    <i class="icon" ng-class="feature.navigation.icon"></i>
    {{feature.name}}
  </ion-item>


<!--   <ion-item menu-close href="#/dashboard/communities/1" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.communities'}">
    <i class="icon ion-star"></i>
    Communities
  </ion-item>
  <ion-item menu-close href="#/dashboard/quiz/1" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.quiz'}">
    <i class="icon ion-ios-lightbulb"></i>
    Quiz
  </ion-item>
  <ion-item menu-close href="#/dashboard/library/1" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.library'}">
    <i class="icon ion-ios-copy-outline"></i>
    Library
  </ion-item>
  <ion-item menu-close href="#/dashboard/events/1" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.events'}">
    <i class="icon ion-ios-calendar-outline"></i>
    Events
  </ion-item>
  <ion-item menu-close href="#/dashboard/survey/1" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.survey'}">
    <i class="icon ion-android-list"></i>
    Survey
  </ion-item> -->
  <ion-item menu-close href="#/dashboard/analytics" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.analytics'}">
    <i class="icon ion-ios-analytics"></i>
    Analytics
  </ion-item>
  <ion-item menu-close ng-click="logOut();" href="" class="item item-icon-left">
    <i class="icon ion-log-out"></i>
    Logout
  </ion-item>
  <ion-item menu-close href="#/dashboard/clients" class="item item-icon-left" ng-class="{currentNav: currentState == 'dashboard.clients'}" style="display: none;">
    <i class="icon ion-settings"></i>
    Clients
  </ion-item>
</ion-list>
