<ion-nav-bar class="bar-dark">
  <ion-nav-title>
  </ion-nav-title>
</ion-nav-bar>
<ion-content class="has-header">
  <form ng-submit="getInfo(data)" class="padding login-form">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Organisation ID" ng-model="data.pin" required>
          </label>
      </div>
      <button class="button button-block button-dark" type="submit">Next</button>
  </form>
</ion-content>
