<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">New RSS Feed</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">

    <form class="add-question">

      <div class="list">

        <label class="item item-input borderless">
          <span class="input-label">Feed name:</span>
          <input type="text" ng-model="vm.feedForm.name">
        </label>
        <label class="item item-input borderless">
          <span class="input-label">RSS URL:</span>
          <input type="text" ng-model="vm.feedForm.rawUrl">
        </label>
        <div class="item item-input item-select borderless">
          <div class="input-label">Type</div>
          <select ng-model="vm.feedForm.type">
            <option value="standard" selected>Standard</option>
            <option value="custom">Custom</option>
          </select>
        </div>

      </div>

      <div ng-init="!vm.feedForm.customData ? vm.feedForm.customData = [] : ''" ng-if="vm.feedForm.type == 'custom'">
        <ion-item class="item-divider item-light">Custom fields</ion-item>
        <div ng-repeat="item in vm.feedForm.customData" class="item row">
          <div class="item item-input borderless col-33">
            <span class="input-label">Label</span>
            <input type="text" ng-model="item.label" style="width:50%;">
          </div>
          <div class="item item-input borderless col-33">
            <span class="input-label">Value</span>
            <input type="text" ng-model="item.value" style="width:50%;">
          </div>
          <input type="hidden" name="limit" ng-model="item.textLimit" ng-value="vm.textLimit" ng-init="item.textLimit=vm.textLimit" />
          <div class="item item-input item-select borderless col-25">
            <div class="input-label">Type</div>
            <select ng-model="item.type" style="width:50%;">
              <option value="header">Header</option>
              <option value="text" selected>Text</option>
              <option value="paragraph">Paragraph</option>
            </select>
          </div>
          <div class="button button-icon ion-android-remove-circle col-5" ng-click="vm.feedForm.customData.splice($index,1)"></div>
        </div>
        <div class="item" ng-click="vm.feedForm.customData.push({label:'',value:'',type:''})"><center>Add field</center></div>
      </div>
    </form>

  </ion-content>

  <ion-footer-bar>
      <div class="row">
        <a class="button button-dark col-20" ng-click="vm.closeFeedModal()">Cancel changes</a>
        <a class="button button-assertive col-20" ng-click="vm.addFeed(vm.feedForm)">Create</a>
      </div>
  </ion-footer-bar>

</ion-modal-view>
