<ion-content>
  <div class="padding">
    <div class="button button-large button-assertive" ng-click="vm.showNewFeedModal()" ng-if="vm.feedItems.length < 1">+ Add Feed</div>
  	<div class="list quiz-table">
      <h3 class="title">RSS Feeds</h3>
      <hr><br>

      <ion-item class="item-divider row">
        <div class="col-40">
          Name
        </div>
        <div class="col-50">
          URL
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.feedItems" class="row">
        <div class="col-40">{{ item.name }}</div>
        <div class="col-50 item-text-wrap">{{ item.rawUrl }}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="vm.showEditFeedModal(item, $index)"></a>
          <a class="icon ion-trash-a" ng-click="vm.removeFeed($index)"></a>
        </div>
      </ion-item>


      <!-- <div class="card" ng-repeat="item in vm.parsedData">
        <div ng-repeat="row in vm.customData">
          <strong>{{ row.label }}</strong>
          {{ item[row.value] }}
        </div>
      </div> -->

      <!-- <ion-item ng-repeat="(key, value) in vm.parsedData[0]">
        <strong>{{ key }}</strong> {{ value }}
        <ion-item ng-repeat="(key1, value1) in value">
          <strong>{{ key1 }}</strong> {{ value1 }}
        </ion-item>
      </ion-item> -->

    </div>
  </div>

<div class="spacer"></div>

</ion-content>
