<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add Client</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="padding">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Client Name</span>
        <input type="text" ng-model="client.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Database Name</span>
        <input type="text" ng-model="client.database.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Legacy URL</span>
        <input type="text" ng-model="client.url">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Client PIN</span>
        <input type="text" ng-model="client.pin">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Clone from</div>
        <select ng-model="cloneFrom" ng-options="client._id as client.name for client in clients"></select>
      </label>
      <br/>
      <center>More options available when client is created.</center>
      <div class="button button-block button-dark" ng-click="add(client, cloneFrom);">Add</div>
    </div>
  </ion-content>
</ion-modal-view>
