<ion-modal-view style="width:678px;">
  	<ion-header-bar class="bar-assertive">
		  <button class="button button-icon">Add Feature</button>
		  <div class="h1 title"></div>
		  <button class="button button-clear button-positive"></button>
  	</ion-header-bar>
  	<ion-content class="has-header custom-modal">

    <form name="form">

      <div class="list">


        <label class="item item-input item-stable item-select borderless">
          <span class="input-label dark">
            *Module:
          </span>
          <select ng-model="featureForm.module" ng-change="resetFeatureForm(featureForm.module);">
            <option value="community">Communities</option>
            <option value="rssfeed">RSS Feed</option>
            <option value="library">Library</option>
            <option value="events">Events</option>
            <option value="survey">Survey</option>
            <option value="quiz">Quiz</option>
            <option value="questions">Questions</option>
            <option value="externalLink">External Link</option>
          </select>
        </label>


        <div ng-show="featureForm.module">

	        <div class="item item-toggle borderless">
	           Visible in navigation
	           <label class="toggle toggle-dark">
	             <input type="checkbox" ng-model="featureForm.navigation.visible">
	             <div class="track">
	               <div class="handle"></div>
	             </div>
	           </label>
	        </div>

	        <label class="item item-input item-stable borderless">
	          <span class="input-label">*Name:</span>
	          <input type="text" ng-model="featureForm.name" placeholder="Name of feature">
	        </label>

	        <label class="item item-input item-stable borderless">
	          <span class="input-label">*Icon:</span>
	          <input type="text" ng-model="featureForm.navigation.icon" placeholder="Ionicon class">
	        </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Icon color:</span>
            <input type="text" ng-model="featureForm.navigation.iconInner.textColor" placeholder="Icon color">
          </label>

	        <label class="item item-input item-stable borderless">
	          <span class="input-label">*Icon background:</span>
	          <input type="text" ng-model="featureForm.navigation.iconOuter.backgroundColor" placeholder="Icon background color">
	        </label>

	        <label class="item item-input item-stable borderless">
	          <span class="input-label">*Icon border:</span>
	          <input type="text" ng-model="featureForm.navigation.iconInner.borderColor" placeholder="Icon inner border color">
	        </label>

	        <label class="item item-input item-stable borderless">
	          <span class="input-label">*Icon inner background color:</span>
	          <input type="text" ng-model="featureForm.navigation.iconInner.backgroundColor" placeholder="Icon inner background color">
	        </label>


	    </div>


        <div ng-show="featureForm.module == 'community'">

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Community ID:</span>
            <input type="text" ng-model="featureForm.moduleId" placeholder="Community ID">
          </label>

        </div>


        <div ng-show="featureForm.module == 'survey'">

          <label class="item item-input item-stable borderless">
            <span class="input-label">*No live surveys message:</span>
            <input type="text" ng-model="featureForm.options.messages.noLiveSurvey" placeholder="No surveys currently available">
          </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Live surveys message:</span>
            <input type="text" ng-model="featureForm.options.messages.liveSurveys" placeholder="Surveys">
          </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Completed surveys message:</span>
            <input type="text" ng-model="featureForm.options.messages.completedSurveys" placeholder="Completed Surveys">
          </label>

        </div>

        <div ng-show="featureForm.module == 'quiz'">

          <label class="item item-input item-stable borderless">
            <span class="input-label">*No live quizzes message:</span>
            <input type="text" ng-model="featureForm.options.messages.noLiveQuiz" placeholder="There are no available quizes.">
          </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Take quiz message:</span>
            <input type="text" ng-model="featureForm.options.messages.takeQuiz" placeholder="Take a Quiz">
          </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Leaderboard title:</span>
            <input type="text" ng-model="featureForm.options.messages.leaderboard" placeholder="Leaderboards">
          </label>

        </div>


        <div ng-show="featureForm.module == 'survey' || featureForm.module == 'quiz'">
          <label class="item item-input item-stable borderless">
            <span class="input-label">*List Divider Background Color:</span>
            <input type="text" ng-model="featureForm.options.theme.listDivider.backgroundColor" placeholder="">
          </label>

          <label class="item item-input item-stable borderless">
            <span class="input-label">*List Divider Text Color:</span>
            <input type="text" ng-model="featureForm.options.theme.listDivider.textColor" placeholder="">
          </label>
        </div>
        <div ng-show="featureForm.module == 'community' || featureForm.module == 'rssfeed' || featureForm.module == 'library' || featureForm.module == 'survey' || featureForm.module == 'questions'">

          <label class="item item-input item-stable borderless">
            <span class="input-label">*Intro text:</span>
            <input type="text" ng-model="featureForm.options.intro.text" placeholder="Intro text">
          </label>
          <label class="item item-input item-stable borderless">
            <span class="input-label">*Intro icon:</span>
            <input type="text" ng-model="featureForm.options.intro.icon" placeholder="Intro icon">
          </label>

        </div>

        <div ng-show="featureForm.module == 'externalLink'">

          <label class="item item-input item-stable borderless">
            <span class="input-label">*URL:</span>
            <input type="text" ng-model="featureForm.externalLinkURL" placeholder="URL">
          </label>

        </div>

      </div>
    </form>

  	</ion-content>
	  <ion-footer-bar>
	      <div class="row">
	        <a class="button button-dark col-20" ng-click="closeAddFeatureModal()">Cancel</a>
	        <a class="button button-assertive col-20" ng-click="addFeature(featureForm)">Add</a>
	      </div>
	  </ion-footer-bar>
</ion-modal-view>
