<ion-content>
  <div class="padding">

    <div class="item item-thumbnail-left borderless">
      <img ng-src="{{URL}}configfiles/{{client.icon}}">
      <h1>{{client.name}}</h1>
    </div>

    <br>

    <div class="button-bar card" style="border:1px solid #e0e0e0;" ng-init="tab = 'general'">
      <div class="button" ng-click="tab = 'general'" ng-class="tab == 'general' ? 'button-dark':''">General</div>
      <div class="button" ng-click="tab = 'misc'" ng-class="tab == 'misc' ? 'button-dark':''">Misc.</div>
      <div class="button" ng-click="tab = 'signin'" ng-class="tab == 'signin' ? 'button-dark':''">Signin</div>
      <div class="button" ng-click="tab = 'registration'" ng-class="tab == 'registration' ? 'button-dark':''">Registration</div>
      <div class="button" ng-click="tab = 'homescreen'" ng-class="tab == 'homescreen' ? 'button-dark':''">Homescreen</div>
      <div class="button" ng-click="tab = 'features'" ng-class="tab == 'features' ? 'button-dark':''">Features</div>
      <div class="button button-assertive item-note" ng-click="save(client);">Update Now</div>
    </div>



    <div ng-show="tab == 'general'">
      <div class="card">
        <div class="item item-divider">
          About
        </div>
        <label class="item item-input">
          <span class="input-label">Client Name</span>
          <input type="text" ng-model="client.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Database Name</span>
          <input type="text" ng-model="client.database.name" readonly>
        </label>
  <!--     <label class="item item-input item-stacked-label">
        <span class="input-label">Legacy URL</span>
        <input type="text" ng-model="client.url">
      </label> -->
        <label class="item item-input">
          <span class="input-label">Client PIN</span>
          <input type="text" ng-model="client.pin">
        </label>
  <!--     <div class="item item-toggle">
         VPP Enabled
         <label class="toggle toggle-dark">
           <input type="checkbox" ng-model="client.vpp">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </div> -->
        <div class="item item-input item-stacked-label">
          <span class="input-label">Icon</span>
          <div class="button button-assertive" ngf-select="uploadFiles($files)" multiple="multiple">Upload New</div>
        </div>

      </div>

      <div class="card">
        <div class="item item-divider">
          Legal Documents
        </div>
        <label class="item item-input">
          <span class="input-label">Terms & Condition Link</span>
          <input type="text" ng-model="client.config.global.legalDocuments.termsconditions" />
        </label>
        <label class="item item-input">
          <span class="input-label">Privacy Policy</span>
          <input type="text" ng-model="client.config.global.legalDocuments.privacyPolicy" />
        </label>
      </div>

      <div class="card" ng-if="gaProperties">
        <div class="item item-divider">
          Google Analytics
        </div>

        <label class="item item-input item-select">
          <div class="input-label">Tracking ID</div>
          <select ng-model="client.config.global.googleAnalytics.trackingId" ng-options="property.id as property.name for property in gaProperties"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">View ID</div>
          <select ng-model="client.config.global.googleAnalytics.viewId" ng-options="'ga:'+property.defaultProfileId as property.name for property in gaProperties"></select>
        </label>
      </div>
  <!--     <label class="item item-input item-stacked-label">
        <span class="input-label">Android Download</span>
        <input type="text" ng-model="client.download.android">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">iOS Download</span>
        <input type="text" ng-model="client.download.ios" ng-disabled="client.vpp">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Legacy Communities</span>
        <input type="text" ng-model="client.streams">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Navigation Color Scheme
        </div>
        <select ng-model="client.navigationColorScheme">
          <option selected value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      </label>


      <div class="card">
        <div class="item item-divider">
          Communities
        </div>
        <div class="item item-toggle">
           Enabled
           <label class="toggle toggle-dark">
             <input type="checkbox" ng-model="client.features.communities.enabled">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </div>
        <span ng-show="client.features.communities.enabled">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Display Name</span>
            <input type="text" ng-model="client.features.communities.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Icon</span>
            <input type="text" ng-model="client.features.communities.navigation.icon">
          </label>
          <div class="item item-toggle">
             Visible
             <label class="toggle toggle-dark">
               <input type="checkbox" ng-model="client.features.communities.navigation.visible">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
        </span>

      </div>

      <div class="card">
        <div class="item item-divider">
          Ticker Tape
        </div>
        <div class="item item-toggle">
           Enabled
           <label class="toggle toggle-dark">
             <input type="checkbox" ng-model="client.features.tickerTape.enabled">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </div>
        <span ng-show="client.features.tickerTape.enabled">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" ng-model="client.features.tickerTape.name">
          </label>
          <div class="item item-toggle">
             Visible
             <label class="toggle toggle-dark">
               <input type="checkbox" ng-model="client.tickerTape.navigation.visible">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
        </span>

      </div> -->

    </div>











    <div ng-show="tab == 'misc'">
      <div class="card">
        <div class="item item-divider">
          Links
        </div>
        <label class="item item-input">
          <span class="input-label">Link color (RGB)</span>
          <input type="text" ng-model="client.config.global.theme.linkColor" />
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Directory Icon
        </div>
        <label class="item item-input">
          <span class="input-label">Directory Icon Color</span>
          <input type="text" ng-model="client.config.global.theme.directory.icon.iconColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">Directory Icon Background Color</span>
          <input type="text" ng-model="client.config.global.theme.directory.icon.backgroundColor" />
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Communities Theme
        </div>
        <label class="item item-input">
          <span class="input-label">Communities Like Icon Color</span>
          <input type="text" ng-model="client.config.global.theme.communities.like.iconColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">Communities Filter Text Color</span>
          <input type="text" ng-model="client.config.global.theme.communities.filter.textColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">Communities Filter Background Color</span>
          <input type="text" ng-model="client.config.global.theme.communities.filter.backgroundColor" />
        </label>

        <label class="item item-input">
          <span class="input-label">New content icon text color</span>
          <input type="text" ng-model="client.config.global.theme.communities.newContentIcon.textColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">New content theme color</span>
          <input type="text" ng-model="client.config.global.theme.communities.newContentIcon.backgroundColor" />
        </label>
      </div>
    </div>










    <div ng-show="tab == 'signin'">
      <div class="card">
        <div class="item item-divider">
          Theme
        </div>
        <label class="item item-input">
          <span class="input-label">Background image link</span>
          <input type="text" ng-model="client.config.signin.backgroundImage" />
        </label>
        <label class="item item-input">
          <span class="input-label">Icon image link</span>
          <input type="text" ng-model="client.config.signin.clientLogo" />
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Form username type</span>
          <select ng-model="client.config.signin.form.username.type">
            <option selected value="email">Email</option>
            <option value="text">Text</option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Form username label</span>
          <input type="text" ng-model="client.config.signin.form.username.label.text" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form username label color</span>
          <input type="text" ng-model="client.config.signin.form.username.label.color" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form password label</span>
          <input type="text" ng-model="client.config.signin.form.password.label.text" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form password label color</span>
          <input type="text" ng-model="client.config.signin.form.password.label.color" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form submit text</span>
          <input type="text" ng-model="client.config.signin.form.submit.text" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form submit text color</span>
          <input type="text" ng-model="client.config.signin.form.submit.textColor" />
        </label>

        <label class="item item-input">
          <span class="input-label">Form submit background color</span>
          <input type="text" ng-model="client.config.signin.form.submit.backgroundColor" />
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Other text color
          </div>
          <select ng-model="client.config.signin.otherTextColor">
            <option selected value="light">Light</option>
            <option value="dark">Dark</option>
          </select>
        </label>

      </div>
    </div>






    <div ng-show="tab == 'registration'">
      <div class="card">
        <div class="item item-divider">
          Email domain registration
        </div>
        <div class="item item-toggle">
           Enabled
           <label class="toggle toggle-dark">
             <input type="checkbox" ng-model="client.config.signup.methods.companydomain.enabled">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </div>
        <label class="item item-input" ng-if="client.config.signup.methods.companydomain.enabled">
          <span class="input-label">Accepted domains (comma separated)</span>
          <input type="text" ng-model="client.config.signup.methods.companydomain.acceptedDomains" />
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Non-desk registration
        </div>
        <div class="item item-toggle">
           Enabled
           <label class="toggle toggle-dark">
             <input type="checkbox" ng-model="client.config.signup.methods.nondesk.enabled">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </div>
        <label class="item item-input" ng-if="client.config.signup.methods.nondesk.enabled">
          <span class="input-label">Data 1 label</span>
          <input type="text" ng-model="client.config.signup.methods.nondesk.label1" />
        </label>
        <label class="item item-input" ng-if="client.config.signup.methods.nondesk.enabled">
          <span class="input-label">Data 2 label</span>
          <input type="text" ng-model="client.config.signup.methods.nondesk.label2" />
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Theme
        </div>
        <label class="item item-input">
          <span class="input-label">Submit label</span>
          <input type="text" ng-model="client.config.signup.form.submit.text" />
        </label>
        <label class="item item-input">
          <span class="input-label">Submit text color</span>
          <input type="text" ng-model="client.config.signup.form.submit.textColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">Submit background color</span>
          <input type="text" ng-model="client.config.signup.form.submit.backgroundColor" />
        </label>
      </div>
    </div>


    <div ng-show="tab == 'homescreen'">

      <div class="card">
        <div class="item item-divider">
          Header
        </div>
        <label class="item item-input hide">
          <span class="input-label">Header color</span>
          <input type="text" ng-model="client.config.homescreen.header.headerBar.backgroundColor" />
        </label>
        <label class="item item-input">
          <span class="input-label">Header icon image link</span>
          <input type="text" ng-model="client.config.homescreen.header.headerBar.imageUrl" />
        </label>
      </div>
      <center>
        <a href="http://ionicons.com/" target="_blank">Icons available at http://ionicons.com/</a>
      </center>
      <div class="card" ng-repeat="panel in client.config.homescreen.panels">
        <div>
          <div class="item item-divider item-icon-right">
            Panel {{ $index+1 }}
            <i class="icon ion-trash-b" ng-click="client.config.homescreen.panels.splice($index,1)"></i>
          </div>

          <label class="item item-input item-select">
            <div class="input-label">Feature link</div>
            <select ng-model="panel.link" ng-options="feature.index as feature.name for feature in config.features"></select>
          </label>

          <label class="item item-input">
            <span class="input-label">Background Image link</span>
            <input type="text" ng-model="panel.background.imageUrl" />
          </label>

          <label class="item item-input">
            <span class="input-label">Border color</span>
            <input type="text" ng-model="panel.borderColor" />
          </label>

          <div class="item item-toggle">
             Overlay enabled
             <label class="toggle toggle-dark">
               <input type="checkbox" ng-model="panel.background.overlay">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
          <label class="item item-input" ng-if="panel.background.overlay">
            <span class="input-label">Overlay background image link</span>
            <input type="text" ng-model="panel.overlay.background.imageUrl" />
          </label>

          <label class="item item-input item-select">
            <span class="input-label">Heading position</span>
            <select ng-model="panel.header.position">
              <option selected value="top-left">Top Left</option>
              <option value="top-right">Top Right</option>
              <option value="bottom-left">Bottom Left</option>
              <option value="bottom-right">Bottom Right</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Heading text</span>
            <input type="text" ng-model="panel.header.text" />
          </label>




          <label class="item item-input">
            <span class="input-label">Heading text color</span>
            <input type="text" ng-model="panel.header.textColor" />
          </label>




          <label class="item item-input">
            <span class="input-label">Heading button icon</span>
            <input type="text" ng-model="panel.header.button.icon" />
          </label>
          <label class="item item-input">
            <span class="input-label">Heading button text</span>
            <input type="text" ng-model="panel.header.button.text" />
          </label>
          <label class="item item-input">
            <span class="input-label">Heading button text color</span>
            <input type="text" ng-model="panel.header.button.textColor" />
          </label>
          <label class="item item-input">
            <span class="input-label">Heading button background color</span>
            <input type="text" ng-model="panel.header.button.backgroundColor" />
          </label>

          <label class="item item-input item-select">
            <span class="input-label">Logo position</span>
            <select ng-model="panel.logo.position">
              <option selected value="top-left">Top Left</option>
              <option value="top-right">Top Right</option>
              <option value="bottom-left">Bottom Left</option>
              <option value="bottom-right">Bottom Right</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Logo image link</span>
            <input type="text" ng-model="panel.logo.background.imageUrl" />
          </label>
        </div>

      </div>
      <div class="item item-icon-right" ng-if="client.config.homescreen.panels.length < 2" ng-click="client.config.homescreen.panels.push({})">
        Add panel
        <i class="icon ion-ios-plus"></i>
      </div>



      <div class="card">
        <div class="item item-divider">
          Tickertape
        </div>

        <div class="item item-toggle">
           Enabled
           <label class="toggle toggle-dark">
             <input type="checkbox" ng-model="client.config.homescreen.tickertape.marquee">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </div>

        <div ng-if="client.config.homescreen.tickertape.marquee">
          <label class="item item-input">
            <span class="input-label">Speed</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.speed" />
          </label>
          <label class="item item-input">
            <span class="input-label">Label text</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.name.text" />
          </label>
          <label class="item item-input">
            <span class="input-label">Label text color</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.name.textColor" />
          </label>
          <label class="item item-input">
            <span class="input-label">Label background color</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.name.backgroundColor" />
          </label>
          <label class="item item-input">
            <span class="input-label">Content text color</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.textColor" />
          </label>
          <label class="item item-input">
            <span class="input-label">Content background color</span>
            <input type="text" ng-model="client.config.homescreen.tickertape.backgroundColor" />
          </label>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Navigation slider
        </div>
        <label class="item item-input">
          <span class="input-label">Background color</span>
          <input type="text" ng-model="client.config.homescreen.navslider.background.color" />
        </label>
      </div>

    </div>












    <div ng-show="tab == 'features'">
      <div class="card">
        <div class="item item-divider item-icon-right">
          Features
          <i class="icon ion-ios-plus" ng-click="openAddFeatureModal()"></i>
        </div>
        <ion-list  show-reorder="true">
          <ion-item class="enable-pointer-events" ng-repeat="feature in client.config.features" ng-click="openEditFeatureModal(feature)">
            {{ feature.name }}
            <ion-reorder-button class="ion-navicon"
                                on-reorder="moveItem(feature, $fromIndex, $toIndex)">
            </ion-reorder-button>
          </ion-item>
        </ion-list>
      </div>


      <div class="card hide">
        <div class="item item-divider">
          Legacy Config
        </div>
        <label class="item item-input item-stacked-label">
          <textarea rows="4" cols="50" ng-model="client.legacy"></textarea>
        </label>
      </div>

    </div>

  </div>

  <div class="spacer"></div>
</ion-content>
