<ion-content>

    <div class="item item-divider item-icon-right">
      Clients
      <i class="icon ion-plus-circled" ng-click="addClient();"></i>
    </div>

    <div class="row" style="flex-wrap: wrap;">
      <a class="item item-body"  href="#/dashboard/client/{{client._id}}" ng-repeat="client in clients" style="width:150px;">
        <img class="full-image" src="{{URL}}configfiles/{{client.icon}}">
        <p><strong>{{client.name}}</strong></p>
      </a>
    </div>

    <div class="spacer"></div>

</ion-content>
