<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Question Management</h1>
  </ion-header-bar>
  <ion-content class="has-header custom-modal">


      <form class="add-question">

        <div class="list">

          <label class="item item-input borderless">
            <span class="input-label">Original question:</span>
            <input dir="auto" type="text" ng-model="vm.questionForm.originalQuestion" required>
          </label>

          <label class="item item-input borderless">
            <span class="input-label">Display question:</span>
            <input dir="auto" type="text" ng-model="vm.questionForm.displayQuestion" required>
          </label>

          <label class="item item-input borderless">
            <span class="input-label">Answer:</span>
            <!-- <input type="text" ng-model="vm.eventForm.additionalNotes" required> -->
            <textarea dir="auto" type="text" rows="10" ng-model="vm.questionForm.answer" required></textarea>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Status
            </div>
            <select ng-model="vm.questionForm.published" required>
              <option value="true">Published</option>
              <option value="false">Hidden</option>
            </select>
          </label>

        </div>

      </form>

  </ion-content>

  <ion-footer-bar>
      <div class="row">
        <a class="button button-dark col-20" ng-click="vm.closeQuestionModal()">Cancel</a>
        <a class="button button-assertive col-20" ng-click="vm.addQuestion(vm.questionForm)">Save</a>
      </div>
  </ion-footer-bar>

</ion-modal-view>