<ion-content>
  <div class="padding">

  <div class="button button-large button-assertive" ng-click="vm.showQuestionModal()">+ Add Question</div>

  	<div class="list quiz-table">

      <div class="row">
        <div class="col-90"><h3 class="title">Unpublished Questions</h3></div>
        <!-- <div class="col-10"><h3 class="title">{{vm.questionItems.length}}</h3></div> -->
      </div>
      <hr>
      <ion-item class="item-divider row">
        <div class="col-30" ng-click="vm.orderField = 'originalQuestion';vm.orderDirection = !vm.orderDirection;">
          Question
          <i ng-if="vm.orderField == 'originalQuestion';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'answer';vm.orderDirection = !vm.orderDirection;">
          Answer
          <i ng-if="vm.orderField == 'answer';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'createdAt';vm.orderDirection = !vm.orderDirection;">
          Date
          <i ng-if="vm.orderField == 'createdAt';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.questionItems | orderBy:vm.orderBy:vm.orderDirection" ng-if="item.published == false" class="row">
        <div class="col-30">{{ item.originalQuestion }}</div>
        <div class="col-20">{{ item.answer }}</div>
        <div class="col-20">{{ item.createdAt | date: 'dd MMM HH:mm' }}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="vm.showEditQuestionModal(item)"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveQuestion(item)"></a>
        </div>
      </ion-item>

      <br>
      <div class="row">
        <div class="col-90"><h3 class="title">Published Questions</h3></div>
        <!-- <div class="col-10"><h3 class="title">{{vm.questionItems.length}}</h3></div> -->
      </div>
      <hr>
      <ion-item class="item-divider row">
        <div class="col-30" ng-click="vm.orderField = 'originalQuestion';vm.orderDirection = !vm.orderDirection;">
          Question name
          <i ng-if="vm.orderField == 'originalQuestion';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'answer';vm.orderDirection = !vm.orderDirection;">
          Answer
          <i ng-if="vm.orderField == 'answer';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-20" ng-click="vm.orderField = 'createdAt';vm.orderDirection = !vm.orderDirection;">
          Date
          <i ng-if="vm.orderField == 'createdAt';" ng-class="vm.orderDirection ? 'ion-ios-arrow-thin-up':'ion-ios-arrow-thin-down'"></i>
        </div>
        <div class="col-10">
          Actions
        </div>
      </ion-item>
      <ion-item ng-repeat="item in vm.questionItems | orderBy:vm.orderBy:vm.orderDirection" ng-if="item.published == true" class="row">
        <div class="col-30">{{ item.originalQuestion }}</div>
        <div class="col-20">{{ item.answer }}</div>
        <div class="col-20">{{ item.createdAt | date: 'dd MMM HH:mm' }}</div>
        <div class="col-10">
          <a class="icon ion-edit" ng-click="vm.showEditQuestionModal(item)"></a>
          <a class="icon ion-trash-a" ng-click="vm.confirmRemoveQuestion(item)"></a>
        </div>
      </ion-item>


    </div>
  </div>

<div class="spacer"></div>

</ion-content>
